:root {
  font-size: 62.5%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html.is-locked {
  overflow: hidden;
}
html.is-locked body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
html.is-locked .header .lang__link {
  background: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

b,
strong {
  font-weight: bold;
}

body {
  font-family: "RandomGrotesqueStandard", Arial, sans-serif;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 1.6rem;
  height: 100%;
  background: #fff;
}

button, textarea, input, select {
  font-family: "RandomGrotesqueStandard", Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline-style: none;
  outline-color: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #1e1e1e;
}

input {
  cursor: text;
  padding: 0 15px;
}

textarea {
  cursor: text;
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #1e1e1e;
}

::-moz-placeholder {
  font-size: 1.6rem;
  color: #1e1e1e;
  opacity: 1;
}

:-moz-placeholder {
  font-size: 1.6rem;
  color: #1e1e1e;
  opacity: 1;
}

:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #1e1e1e;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus::-ms-input-placeholder {
  color: transparent;
}

@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardBook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardBookItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardSemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardSemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RandomGrotesqueStandard";
  src: url("../assets/fonts/RG-StandardBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
.btn {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 700;
  background: #f9f4ea;
  color: #1e1e1e;
  padding: 1.4375em 3.625em 1.5625em;
  border: 1px solid #f9f4ea;
  border-radius: 66px;
  display: inline-block;
}
.btn:hover {
  color: #fff;
  background: #1e1e1e;
  border-color: rgba(255, 255, 255, 0.2);
}
.btn_classic {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 0;
}
.btn_black {
  color: #fff;
  background: #1e1e1e;
  border-color: rgba(255, 255, 255, 0.2);
}
.btn_black:hover {
  background: #f9f4ea;
  color: #1e1e1e;
  border-color: #f9f4ea;
}
.btn_transparent {
  background: transparent;
  color: #1e1e1e;
  border-color: rgba(30, 30, 30, 0.2);
}

.title {
  margin: 0;
  font-weight: 700;
  color: #1e1e1e;
}
.title_size-l {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
}
.title_size-m {
  font-size: 3.8rem;
  line-height: 1.1052631579;
}
.title_size-s {
  font-size: 3.4rem;
  line-height: 1.2058823529;
}
.title_size-xs {
  font-size: 2.6rem;
  line-height: 1.3076923077;
}

.text_white {
  color: #fff;
}
.text_white::before {
  background: #fff;
}
.text_uppercase {
  text-transform: uppercase;
}

.arrow_left:hover svg path, .arrow_right:hover svg path {
  fill: #b7d2a2;
}

.container {
  margin: 0 auto;
  max-width: 1172px;
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 950px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 528px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: calc(100% - 48px);
    width: 100%;
  }
}
.social-icon {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 50%;
}
.social-icon.vk {
  background: rgba(255, 255, 255, 0.1) url("../assets/icons/VK.svg") no-repeat 50%;
}
.social-icon.whatsapp {
  background: rgba(255, 255, 255, 0.1) url("../assets/icons/WhatsApp.svg") no-repeat 50%;
}
.social-icon.telegram {
  background: rgba(255, 255, 255, 0.1) url("../assets/icons/Telegram.svg") no-repeat 50%;
}
.social-icon.email {
  background: rgba(255, 255, 255, 0.1) url("../assets/icons/Email.svg") no-repeat 50%;
}

.link {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background: #1e1e1e;
}
.link:hover {
  font-style: italic;
}
.link_shrink {
  font-weight: 500;
}
.link_shrink::before {
  content: none;
}

.modal {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 15;
}
.modal.opened {
  opacity: 1;
  pointer-events: auto;
}
.modal-wrapper {
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 19.1452991453% 80.8547008547%;
  background: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
}
.header__logo {
  padding: 26px 25px 37px 29px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  grid-row: 1/3;
}
.header__logo img {
  margin: 0 auto;
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 13px 39px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-top__el {
  display: inline-flex;
}
.header-top__el.tel {
  padding-left: 21px;
  position: relative;
}
.header-top__el.tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  background: url("../assets/icons/phone.svg") no-repeat 50%;
}
.header-top__el.price {
  text-transform: none;
  padding-left: 16px;
  position: relative;
}
.header-top__el.price::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 9px;
  height: 10px;
  transform: translateY(-50%);
  top: calc(50% + 1px);
  background: url("../assets/icons/download.svg") no-repeat 50%;
}
.header-top__el.vk {
  text-transform: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #afafaf;
}
.header-top__el.vk .social-icon {
  margin-left: 7px;
}
.header-top__el.connect {
  text-transform: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #afafaf;
}
.header-top__el.connect .social-icon {
  margin-left: 5px;
}
.header-top__el.connect .social-icon:first-of-type {
  margin-left: 9px;
}
.header-top__el.order-a-call {
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: 700;
}
.header-top__el.languages button, .header-top__el.languages select, .header-top__el.languages input, .header-top__el.languages textarea {
  font-size: 1.1rem;
  line-height: 1.2727272727;
  color: #9c9c9c;
  margin-right: 4px;
}
.header-top__el.languages button:last-child, .header-top__el.languages select:last-child, .header-top__el.languages input:last-child, .header-top__el.languages textarea:last-child {
  margin-right: 0;
}
.header-top__el.languages button.active, .header-top__el.languages select.active, .header-top__el.languages input.active, .header-top__el.languages textarea.active {
  color: #fff;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 18px 39px 24px;
}
.header-nav__item {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.blocker {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #35353566;
  backdrop-filter: blur(25px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 5;
}
.blocker_opened {
  pointer-events: auto;
  opacity: 1;
}

.catalog-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  line-height: 1.375;
}
.catalog-btn div {
  position: relative;
  margin-right: 19px;
  width: 32px;
  height: 16px;
}
.catalog-btn div span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: translateY(-50%);
}
.catalog-btn div span:first-child {
  transform: translateY(calc(-50% - 8px));
}
.catalog-btn div span:last-child {
  transform: translateY(calc(-50% + 8px));
}
.catalog-btn:hover {
  color: #c6ff26;
}
.catalog-btn:hover span {
  background: #c6ff26;
}
.catalog-modal {
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
  top: calc(100% + 7px);
  width: 100%;
}
.catalog-modal-wrapper {
  background: rgba(30, 30, 30, 0.9);
  backdrop-filter: blur(17px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 52px 60px 46px;
}
.catalog-modal-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 30px;
}
.catalog-item {
  box-sizing: border-box;
}
.catalog-item:hover .catalog-item__round {
  background: #c6ff26;
}
.catalog-item:hover .catalog-item__note p {
  color: #fff;
}
.catalog-item__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
}
.catalog-item__round {
  margin-bottom: 10px;
  position: relative;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.catalog-item__round img {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% + 10px);
}
.catalog-item__note p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  margin: 0;
}

.dropdown-btn {
  color: #fff;
  padding-right: 11px;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.375;
  position: relative;
  font-weight: 500;
}
.dropdown-btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 5px;
  height: 3px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop.svg") no-repeat 50%;
}

/*# sourceMappingURL=style.css.map */
