:root {
  font-size: 62.5%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html.is-locked {
  overflow: hidden;
}
html.is-locked body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
html.is-locked .header .lang__link {
  background: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

b,
strong {
  font-weight: bold;
}

body {
  min-height: 100vh;
  font-family: "Mont", Arial, sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 1.6rem;
  line-height: 1.375;
  height: 100%;
  background: #fff;
  margin: 0;
}

button, textarea, input, select {
  font-family: "Mont", Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline-style: none;
  outline-color: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #222;
}

input {
  cursor: text;
  padding: 0 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  cursor: text;
  resize: none;
}

svg {
  overflow: visible;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover, a:active {
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #222;
}

::-moz-placeholder {
  font-size: 1.6rem;
  color: #222;
  opacity: 1;
}

:-moz-placeholder {
  font-size: 1.6rem;
  color: #222;
  opacity: 1;
}

:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #222;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus::-ms-input-placeholder {
  color: transparent;
}

.dark-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.22);
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 36px 0 30px;
}

@media screen and (max-width: 991px) {
  .page-header {
    display: none;
  }
}
.price-content {
  display: none;
  padding-bottom: 30px;
}
.price-content input {
  width: calc(100% - 15px);
  padding: 10px 7px 9px;
  font-size: 1.6rem;
  line-height: 1;
  border: 0.5px solid rgba(119, 119, 119, 0.5);
  border-radius: 2px;
}
.price-content input::placeholder {
  color: #888;
}
.price-content div {
  width: 15px;
  margin: 0 7.5px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
.price-content div .divider {
  width: 100%;
  height: 0.5px;
  background: #707070;
}

.show-more {
  text-align: center;
  margin-bottom: 57px;
}
.show-more__btn {
  max-width: 320px;
  width: 100%;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  letter-spacing: 0.05em;
}

.size-select {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.015em;
  color: #888;
  min-width: 408px;
  border-radius: 2px;
  border: 1px solid rgba(119, 119, 119, 0.2);
  text-align: left;
  padding: 1.125em 0.6875em 1em;
  position: relative;
}
.size-select::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  width: 14px;
  height: 7px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop-light.svg") no-repeat 50%/cover;
}

.color-btn {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: relative;
}

.personal-data p {
  font-size: 1.2rem;
  line-height: 1.3333333333;
  letter-spacing: 0.015em;
  color: #777;
}
.personal-data a {
  color: inherit;
  font-size: 1.2rem;
  line-height: 1.3333333333;
  letter-spacing: 0.015em;
  color: #777;
  text-decoration: underline;
}

@font-face {
  font-family: "Mont";
  src: url("../assets/fonts/Mont-Regular.woff") format("woff"), url("../assets/fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  src: url("../assets/fonts/Mont-SemiBold.woff") format("woff"), url("../assets/fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  src: url("../assets/fonts/Mont-Bold.woff") format("woff"), url("../assets/fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.swiper-wrapper {
  max-height: 100%;
}
.swiper-slide {
  max-height: 100%;
  position: relative;
}

.btn-primary {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0.875em 3.35em 0.753em;
  display: inline-block;
  color: #fff;
  background: #333;
  letter-spacing: 0.05em;
  border-radius: 2px;
}
.btn-primary:hover {
  background: #444;
}
.btn-primary:active, .btn-primary:focus {
  opacity: 0.7;
}
.btn-transparent {
  font-size: 1.6rem;
  line-height: 1.5;
  background: transparent;
  padding: 0.875em 2em 0.753em;
  display: inline-block;
  border: 1px solid #666;
  letter-spacing: 0.1em;
  border-radius: 2px;
}
.btn-transparent:hover {
  background: #666;
  color: #fff;
}
.btn-transparent:active, .btn-transparent:focus {
  opacity: 0.7;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  color: #222;
  margin: 0;
}
.title_size-l {
  font-size: 5.2rem;
  line-height: 1.1538461538;
  letter-spacing: 0.1em;
}
.title_size-m {
  font-size: 3.2rem;
  line-height: 1.46875;
  letter-spacing: 0.05em;
  text-transform: none;
}
.title_size-s {
  font-size: 1.6rem;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #363636;
}

@media screen and (max-width: 768px) {
  .title_size-m {
    font-size: 1.8rem;
    line-height: 1.4444444444;
    letter-spacing: 0.03em;
  }
  .title_size-s {
    font-size: 1.4rem;
    line-height: 1.5714285714;
    letter-spacing: 0.03em;
  }
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}

@media screen and (max-width: 1480px) {
  .container {
    max-width: 950px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 528px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: calc(100% - 40px);
    width: 100%;
  }
}
.link {
  font-size: 1.4rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
  transition: opacity 0.2s;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.link:hover {
  opacity: 0.8;
}
.link:active, .link:focus {
  opacity: 0.6;
}
.link-underline {
  color: #333;
  text-decoration: underline;
  letter-spacing: 0.015em;
  font-size: 1.6rem;
  line-height: 1.5;
}
.link-underline:hover {
  opacity: 0.8;
  color: #333;
}
.link-underline:active, .link-underline:focus {
  color: #333;
  opacity: 0.6;
}

.input {
  min-height: 52px;
  border: 1px solid #c6c1c1;
  font-size: 1.6rem;
  line-height: 1.375;
  border-radius: 2px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .input {
    min-height: 42px;
  }
}
.count-input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #777;
  padding: 0;
  text-align: center;
}
.count-input__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgba(119, 119, 119, 0.3);
  min-height: 35px;
}
.count-input__wrapper button[data-count=decrement], .count-input__wrapper select[data-count=decrement], .count-input__wrapper input[data-count=decrement], .count-input__wrapper textarea[data-count=decrement] {
  flex-shrink: 0;
  width: 28px;
  height: 33px;
  position: relative;
  display: grid;
}
.count-input__wrapper button[data-count=decrement] span, .count-input__wrapper select[data-count=decrement] span, .count-input__wrapper input[data-count=decrement] span, .count-input__wrapper textarea[data-count=decrement] span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 1px;
  background: #777;
  transform: translate(-50%, -50%);
}
.count-input__wrapper button[data-count=increment], .count-input__wrapper select[data-count=increment], .count-input__wrapper input[data-count=increment], .count-input__wrapper textarea[data-count=increment] {
  flex-shrink: 0;
  width: 28px;
  height: 33px;
  position: relative;
  display: grid;
  padding: 9px;
}
.count-input__wrapper button[data-count=increment] span, .count-input__wrapper select[data-count=increment] span, .count-input__wrapper input[data-count=increment] span, .count-input__wrapper textarea[data-count=increment] span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 1px;
  background: #777;
  transform: translate(-50%, -50%);
}
.count-input__wrapper button[data-count=increment] span:first-child, .count-input__wrapper select[data-count=increment] span:first-child, .count-input__wrapper input[data-count=increment] span:first-child, .count-input__wrapper textarea[data-count=increment] span:first-child {
  transform: translate(-50%, -50%) rotate(90deg);
}

.form-input {
  min-height: 42px;
  border: 1px solid rgba(119, 119, 119, 0.3);
  font-size: 1.6rem;
  line-height: 1.375;
  letter-spacing: 0.015em;
  border-radius: 2px;
  width: 100%;
  padding: 0.64em 11px 0.52em;
  color: #333;
}
.form-input::placeholder {
  font-size: 1.6rem;
  line-height: 1.375;
  color: #aaa;
  letter-spacing: 0.015em;
}

.radio {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid rgba(119, 119, 119, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header div.gamburger span {
  background: #222;
}
.header a {
  color: #222;
}
.header .header-icons__icon svg.black {
  display: inline-block;
}
.header .header-icons__icon svg.white {
  display: none;
}
.header .header-logo svg path {
  fill: #222;
}
.header .header-icons__icon svg.black {
  display: inline-block;
}
.header .header-icons__icon svg.white {
  display: none;
}
.header .header-wrapper {
  border-bottom: 0.5px solid rgba(119, 119, 119, 0.2);
}
.header_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  transition: background 0.2s;
}
.header_fixed div.gamburger span {
  background: #fff;
}
.header_fixed a {
  color: #fff;
}
.header_fixed .header-icons__icon svg.black {
  display: none;
}
.header_fixed .header-icons__icon svg.white {
  display: inline-block;
}
.header_fixed .header-logo svg path {
  fill: #fff;
}
.header_fixed .header-wrapper {
  border: none;
}
.header_fixed .header-nav__item a, .header_fixed .header-nav__item span {
  color: #fff;
}
.header_fixed_white {
  background: #fff;
}
.header_fixed_scrolled {
  background: #fff;
}
.header_fixed_scrolled div.gamburger span {
  background: #222;
}
.header_fixed_scrolled a {
  color: #222;
}
.header_fixed_scrolled .header-nav__item a, .header_fixed_scrolled .header-nav__item span {
  color: #000;
}
.header_fixed_scrolled .header-icons__icon svg.black {
  display: inline-block;
}
.header_fixed_scrolled .header-icons__icon svg.white {
  display: none;
}
.header_fixed_scrolled .header-logo svg path {
  fill: #222;
}
.header_fixed_scrolled .header-wrapper {
  border-bottom: 0.5px solid rgba(119, 119, 119, 0.2);
}
.header_fixed:hover {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.header_fixed:hover .gamburger span {
  background: #222;
}
.header_fixed:hover a {
  color: #222;
}
.header_fixed:hover .header-icons__icon svg.black {
  display: inline-block;
}
.header_fixed:hover .header-icons__icon svg.white {
  display: none;
}
.header_fixed:hover .header-logo svg path {
  fill: #222;
}
.header_fixed:hover .header-nav__item a, .header_fixed:hover .header-nav__item span {
  color: #000;
}
.header-logo {
  display: flex;
}
.header-wrapper {
  padding: 30px 0 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header-nav__item {
  margin-right: 32px;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__item_catalog {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header-nav__item_catalog .gamburger {
  position: relative;
  left: 0;
  top: 0;
  width: 28px;
  height: 18px;
  margin-right: 20px;
}
.header-nav__item_catalog .gamburger span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
}
.header-nav__item_catalog .gamburger span:first-child {
  width: 50%;
  transform: translateY(calc(-50% - 8px));
}
.header-nav__item_catalog .gamburger span:last-child {
  width: 50%;
  left: auto;
  right: 0;
  transform: translateY(calc(-50% + 8px));
}
.header-icons {
  padding-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header-icons__icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 30px;
}
.header-icons__icon_mobile {
  display: none;
}
.header-icons__icon:last-child {
  margin-right: 0;
}
.header-icons__icon:hover {
  opacity: 0.8;
}
.header-icons__icon_value::after {
  position: absolute;
  content: attr(data-value);
  right: -14px;
  width: 20px;
  height: 20px;
  top: -7px;
  transform: none;
  border-radius: 50%;
  background: #222;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.1666666667;
  display: grid;
  place-items: center;
  padding-top: 2px;
}

@media screen and (max-width: 991px) {
  .header-logo {
    justify-content: center;
  }
  .header-logo svg {
    max-height: 27px;
    max-width: 130px;
  }
  .header-wrapper {
    padding: 23px 0 24px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header-nav__item {
    display: none;
  }
  .header-nav__item_catalog {
    display: inline-block;
    margin-right: 17px;
  }
  .header-nav__item_catalog span {
    display: none;
  }
  .header-nav__item_catalog .gamburger {
    margin: 0;
    width: 26px;
  }
  .header-icons {
    justify-content: flex-end;
  }
  .header-icons__icon {
    margin-right: 22px;
  }
  .header-icons__icon:last-child {
    margin-right: 0;
  }
  .header-icons__icon_desktop {
    display: none;
  }
  .header-icons__icon_mobile {
    display: inline-block;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 45vw;
  margin-bottom: 93px;
}
.hero-swiper {
  max-height: 100%;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
}
.hero__video {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.hero-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.hero-banner__title {
  font-weight: 400;
  color: #fff;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
}
.hero-banner__title::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 53px;
  height: 2px;
  background: #fff;
}
.hero-banner p {
  letter-spacing: 0.12em;
  font-size: 1.8rem;
  line-height: 1.2222222222;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-top: 18px;
  text-transform: uppercase;
}
.hero .btn-prev, .hero .btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.hero .btn-prev svg, .hero .btn-next svg {
  width: 20px;
  height: 40px;
  transition: transform 0.1s;
}
.hero .btn-prev:hover svg, .hero .btn-next:hover svg {
  transform: scale(1.05);
}
.hero .btn-prev {
  left: 0;
  padding-left: 41px;
  padding-right: 20px;
}
.hero .btn-next {
  right: 0;
  padding-right: 41px;
  padding-left: 20px;
}
.hero .swiper-pagination {
  position: absolute;
  bottom: 20px;
}
.hero .swiper-pagination-bullet {
  display: inline-block;
  width: 90px;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.hero .swiper-pagination-bullet-active .bullet-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  animation: pagination 5s linear backwards;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

@keyframes pagination {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.footer {
  background: #f7f7f7;
  padding: 69px 0 53px;
}
.footer a:hover {
  opacity: 0.8;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 3.62fr 5.88fr 4.5fr;
  grid-row-gap: 80px;
}
.footer-help__support, .footer-help__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.footer-help__support {
  margin-bottom: 30px;
}
.footer-help__support a {
  color: #333;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.footer-help__support span {
  letter-spacing: 0.02em;
  font-size: 1.4rem;
  line-height: 1.6428571429;
}
.footer-help__testimonials a {
  font-weight: 600;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.4375;
  letter-spacing: 0.02em;
}
.footer-help__testimonials span {
  letter-spacing: 0.02em;
  font-size: 1.4rem;
  line-height: 1.6428571429;
}
.footer-list .title {
  margin-bottom: 20px;
}
.footer-list__item {
  margin-bottom: 16px;
}
.footer-list__item a {
  letter-spacing: 0.015em;
  color: #555;
}
.footer-list__item:last-child {
  margin-bottom: 0;
}
.footer-list__item:hover {
  opacity: 0.8;
}
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-news .title {
  margin-bottom: 20px;
  letter-spacing: 0.015em;
}
.footer-news p {
  font-size: 1.4rem;
  line-height: 1.2142857143;
  color: #777;
  max-width: 310px;
  margin-bottom: 17px;
}
.footer-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 56px;
}
.footer-form .input {
  margin: 0;
  flex-grow: 1;
}
.footer-form .btn {
  margin-left: 18px;
}
.footer-form .btn .mobile {
  display: none;
}
.footer-span {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}
.footer-privacy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 34px;
}
.footer-privacy a {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.2142857143;
}
.footer-mark {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.2142857143;
  text-align: right;
}
.footer-social .title {
  margin-bottom: 19px;
  letter-spacing: 0.015em;
}
.footer-social-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
}
.footer-social-block_mobile {
  display: none;
}
.footer-social-block__item {
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-social-block__item span {
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 0.015em;
}
.footer-social-block__item:hover {
  opacity: 0.8;
}
.footer-social-block__item:hover span {
  color: #666;
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 51px 0 30px;
  }
  .footer-wrapper {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 20px;
    grid-row-gap: 22px;
  }
  .footer-nav {
    grid-column: 1/3;
    order: -1;
    padding-bottom: 20px;
  }
  .footer-social {
    display: none;
  }
  .footer-social-block_mobile {
    display: block;
  }
  .footer-social-block__item {
    display: grid;
    grid-template-columns: 35px auto;
    margin-bottom: 20px;
  }
  .footer-social-block__item:last-child {
    margin-bottom: 0;
  }
  .footer-form {
    margin: 0;
  }
  .footer-news {
    grid-column: 1/3;
    padding-top: 20px;
  }
  .footer-news .title {
    margin-bottom: 8px;
  }
  .footer-span {
    order: 1;
  }
  .footer-mark {
    order: 2;
  }
  .footer-privacy {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 768px) {
  .footer-list .title {
    font-size: 1.4rem;
    line-height: 1.4285714286;
    margin-bottom: 14px;
  }
  .footer-list__item {
    margin-bottom: 12px;
  }
  .footer-list__item:last-child {
    margin-bottom: 0;
  }
  .footer-list__item a {
    font-size: 1.4rem;
    line-height: 1.4285714286;
  }
  .footer-help__support {
    margin-bottom: 12px;
  }
  .footer-help__support span {
    letter-spacing: 0.02em;
    font-size: 1.2rem;
    line-height: 1.8333333333;
  }
  .footer-help__support a {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .footer-help__testimonial span {
    letter-spacing: 0.02em;
    font-size: 1.2rem;
    line-height: 1.8333333333;
  }
  .footer-help__testimonial a {
    font-size: 1.6rem;
    line-height: 1.375;
    letter-spacing: 0.02em;
  }
  .footer-social-block span {
    font-size: 1.4rem;
    line-height: 1.4285714286;
    letter-spacing: 0.015em;
  }
  .footer-news .title {
    font-size: 1.4rem;
    line-height: 1.4285714286;
  }
  .footer-news p {
    font-size: 1.2rem;
    line-height: 1.4166666667;
    margin-bottom: 14px;
    max-width: 240px;
  }
  .footer-privacy {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
  .footer-privacy a {
    font-size: 1.2rem;
    line-height: 1.4166666667;
  }
  .footer-span, .footer-mark {
    font-size: 1.2rem;
    line-height: 1.4166666667;
  }
  .footer-form .btn {
    margin-left: 12px;
    border: 1.5px solid #666;
    border-radius: 2px;
    padding: 0.5625em 0.875em 0.4375em;
  }
  .footer-form .btn .mobile {
    display: inline;
  }
  .footer-form .btn .desktop {
    display: none;
  }
}
.main {
  padding-top: 100px;
}

@media screen and (max-width: 991px) {
  .main {
    padding-top: 75px;
  }
}
.home {
  padding-top: 0;
}

.catalog-page {
  padding-bottom: 55px;
}
.catalog-page__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 130px;
}
.catalog-aside__title {
  font-size: 2.6rem;
  line-height: 1.2307692308;
  letter-spacing: 0.05em;
  color: #222;
  padding-bottom: 14px;
  border-bottom: 0.5px solid rgba(119, 119, 119, 0.5);
}
.catalog-aside-list {
  padding: 30px 0;
  border-bottom: 0.5px solid rgba(119, 119, 119, 0.5);
}
.catalog-aside-list__item {
  margin-bottom: 12px;
}
.catalog-aside-list__item_active a {
  font-weight: 600;
}
.catalog-aside-list__item a {
  font-size: 1.8rem;
  line-height: 1.4444444444;
  color: #333;
  letter-spacing: 0.03em;
}
.catalog-aside-list__item a:hover {
  opacity: 0.8;
}
.catalog-aside-list__item:last-child {
  margin-bottom: 0;
}

.product-container__wrapper {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px;
  padding-bottom: 100px;
}
.product-swiper {
  max-width: 455px;
  max-height: 690px;
  position: relative;
  margin: 0;
}
.product-swiper__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.product-swiper__prev {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  opacity: 0.8;
}
.product-swiper__prev:hover {
  opacity: 1;
}
.product-swiper__prev svg {
  transform: translateX(-1px);
}
.product-swiper__prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.product-swiper__next {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 2;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  opacity: 0.8;
}
.product-swiper__next:hover {
  opacity: 1;
}
.product-swiper__next svg {
  transform: translateX(1px);
}
.product-swiper__next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.product-swiper-thumbs {
  margin: 0;
  margin-right: 19px;
  max-width: 70px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 682px;
  overflow-y: auto;
  padding: 4px;
}
.product-swiper-thumbs__slide {
  position: relative;
  cursor: pointer;
  display: flex;
}
.product-swiper-thumbs__slide img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-swiper-thumbs__slide:not(:last-child) {
  margin-bottom: 10px;
}
.product-swiper-thumbs__slide_active::before {
  position: absolute;
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #666;
  border-radius: 2px;
}
.product-swiper-thumbs__slide .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}
.product-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
.product-slide video, .product-slide img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-slide .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  border-radius: 2px;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}
.product-slide .play-btn svg {
  width: inherit;
  height: inherit;
  width: 40px;
  height: 40px;
}
.product-slide .play-btn svg[data-play=pause] {
  display: none;
}
.product-slide .play-btn.paused svg[data-play=pause] {
  display: block;
}
.product-slide .play-btn.paused svg[data-play=play] {
  display: none;
}
.product-slide:hover .play-btn {
  opacity: 1;
}
.product-slide:hover .play-btn:hover {
  opacity: 0.8;
}
.product-slide:hover .play-btn:active {
  opacity: 0.6;
}
.product-content {
  max-width: 535px;
}
.product-content p {
  letter-spacing: 0.015em;
}
.product-content__title {
  font-size: 2.8rem;
  line-height: 1.2857142857;
  letter-spacing: 0.015em;
  font-weight: 600;
}
.product-content__subtitle {
  margin-bottom: 6px;
}
.product-content__subtitle p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: #666;
}
.product-content__article {
  margin-bottom: 18px;
}
.product-content__article p {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.015em;
  color: #999;
}
.product-content__price {
  font-size: 2.4rem;
  line-height: 1.4583333333;
  font-weight: 600;
  letter-spacing: 0.015em;
  display: block;
  margin-bottom: 15px;
}
.product-content__guide {
  display: inline-block;
  margin-bottom: 12px;
}
.product-content__size-select {
  margin-bottom: 30px;
}
.product-content__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 14px;
  margin-bottom: 40px;
}
.product-content__btns .cart-btn {
  padding: 1.375em;
  line-height: 1;
  min-width: 62.42990654%;
}
.product-content__btns .like-btn {
  padding: 0;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
}
.product-content__btns .like-btn:hover {
  background: transparent;
}
.product-content__btns .like-btn:hover svg path {
  fill: #333;
  stroke: #333;
}
.product-content__description {
  margin-bottom: 30px;
}
.product-content__description-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.375;
  margin-bottom: 11px;
  letter-spacing: 0;
}
.product-content__description-text p {
  font-size: 1.4rem;
  line-height: 1.4285714286;
  color: #555;
  letter-spacing: 0;
}
.product-colors {
  margin-bottom: 26px;
}
.product-colors__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 9px;
}
.product-colors__wrapper .color-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}
.product-colors__color {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}
.product-colors__color input {
  display: none;
}
.product-colors__color input:checked + .color-btn::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #666;
}
.product-colors__color-value p {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.015em;
  color: #888;
}
.product-colors__color:last-child {
  margin-right: 0;
}
.product-recommendations {
  padding-bottom: 85px;
}
.product-recommendations__link {
  display: inline-block;
}
.product-recommendations__link:hover .product-recommendations__product, .product-recommendations__link:hover .product-recommendations__price {
  opacity: 0.75;
}
.product-recommendations__title {
  margin-bottom: 33px;
}
.product-recommendations__slide {
  max-width: 100%;
  max-height: 426px;
  margin-bottom: 20px;
}
.product-recommendations__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.product-recommendations__product {
  margin-bottom: 10px;
}
.product-recommendations__product p {
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: 0;
  color: #222;
}
.product-recommendations__price {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: #222;
}

.cart-page__wrapper {
  padding-bottom: 94px;
  max-width: 1145px;
  display: grid;
  grid-template-columns: 2.55fr 8.9fr;
}
.cart-page__title {
  padding-right: 40px;
}
.cart-content {
  padding-top: 16px;
}

.text-page__wrapper {
  padding-bottom: 75px;
  max-width: 1030px;
  display: grid;
  grid-template-columns: 2.55fr 7.75fr;
}
.text-page__content {
  padding-top: 12px;
}
.text-block:not(:last-child) {
  margin-bottom: 58px;
}
.text-block__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.015em;
  margin-bottom: 24px;
  color: #333;
}
.text-block__text_big:not(:last-child) {
  margin-bottom: 54px;
}
.text-block__text_small {
  max-width: 725px;
}
.text-block__text_small:not(:last-child) {
  margin-bottom: 24px;
}
.text-block__list:not(:last-child) {
  margin-bottom: 24px;
}
.text-block__list-item {
  position: relative;
  padding-left: 20px;
}
.text-block__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d6d6d6;
}
.text-block__list-item:not(:last-child) {
  margin-bottom: 24px;
}
.text-block p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 5px;
  letter-spacing: 0.015em;
  color: #555;
}
.text-block p:last-child {
  margin-bottom: 0;
}
.text-block strong {
  font-weight: 600;
  letter-spacing: inherit;
  color: inherit;
}

@media screen and (max-width: 991px) {
  .text-page__wrapper {
    grid-template-columns: 100%;
    padding-top: 18px;
    padding-bottom: 50px;
  }
  .text-block__title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .text-page__content {
    padding-top: 16px;
  }
  .text-block:not(:last-child) {
    margin-bottom: 50px;
  }
  .text-block__title {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.015em;
    margin-bottom: 18px;
  }
  .text-block__text_big:not(:last-child) {
    margin-bottom: 48px;
  }
  .text-block__text_small {
    max-width: 725px;
  }
  .text-block__text_small:not(:last-child) {
    margin-bottom: 22px;
  }
  .text-block__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .text-block__list-item:not(:last-child)::before {
    top: 5px;
  }
  .text-block p {
    font-size: 1.4rem;
    line-height: 1.4285714286;
  }
  .text-block strong {
    font-size: 1.4rem;
    line-height: 1.5714285714;
  }
}
.collection {
  margin-bottom: 66px;
}
.collection-wrapper {
  display: grid;
  grid-template-columns: 5.15fr 8.85fr;
}
.collection-info {
  max-width: 350px;
  padding-right: 20px;
  padding-top: 16px;
  box-sizing: content-box;
}
.collection-info__title {
  margin-bottom: 18px;
}
.collection-info__text {
  color: #666;
  margin-bottom: 35px;
}
.collection-swiper {
  max-width: 100%;
}
.collection-swiper__prev {
  position: absolute;
  z-index: 2;
  top: 191px;
  left: 0;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  background: #fff;
  transform: rotate(180deg);
  transition: opacity 0.2s;
  opacity: 0.8;
}
.collection-swiper__prev:hover {
  opacity: 1;
}
.collection-swiper__next {
  position: absolute;
  z-index: 2;
  top: 191px;
  right: 0;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  background: #fff;
  transition: opacity 0.2s;
  opacity: 0.8;
}
.collection-swiper__next:hover {
  opacity: 1;
}
.collection-swiper .swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.collection-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.collection-item:hover .collection-item__name, .collection-item:hover .collection-item__price {
  opacity: 0.75;
}
.collection-item:active {
  opacity: 0.6;
}
.collection-item__img {
  max-height: 420px;
  margin-bottom: 22px;
}
.collection-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.collection-item__name {
  color: #222;
  margin-bottom: 11px;
}
.collection-item__price {
  color: #222;
  font-size: 2rem;
  line-height: 1.0909090909;
}

.exclusive {
  margin-bottom: 60px;
}
.exclusive-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.exclusive__poster img {
  border-radius: 2px;
}
.exclusive-content__img {
  margin-bottom: 60px;
}
.exclusive-content__img img {
  border-radius: 2px;
}
.exclusive-content__content {
  max-width: 467px;
}
.exclusive-content__content .title {
  margin-bottom: 10px;
}
.exclusive-content__text {
  margin-bottom: 31px;
  color: #666;
}

.home-accordion {
  margin-bottom: 85px;
}

.accordion {
  position: relative;
  display: flex;
  height: 604px;
  overflow: hidden;
  border-radius: 2px;
}
.accordion__item {
  flex: 1;
  position: relative;
  transition: flex 1s ease;
  -webkit-transition: flex 1s ease;
  will-change: flex;
}
.accordion__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.accordion__item p {
  letter-spacing: 0.07em;
  position: absolute;
  bottom: 32px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  left: 40px;
  font-size: 2.6rem;
  line-height: 1.2307692308;
}
.accordion__item_big {
  flex: 2;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #666;
  font-size: 1.4rem;
  line-height: 1.6428571429;
}
.breadcrumbs a {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.6428571429;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 991px) {
  .breadcrumbs {
    display: none;
  }
}
.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sort span {
  display: inline-block;
  margin-right: 12px;
  font-size: 1.4rem;
  line-height: 1.6428571429;
  color: #666;
}
.sort-select {
  border: 0.5px solid rgba(119, 119, 119, 0.5);
  border-radius: 2px;
  padding: 4px 9px;
  padding-right: 28px;
  position: relative;
  cursor: pointer;
}
.sort-select::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  width: 8px;
  height: 4px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop.svg") no-repeat 50%/cover;
}
.sort-select__value {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.6428571429;
}

.aside-btn {
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 1.25em 45px 1.125em;
}
.aside-btn::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  width: 12px;
  height: 6px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop_big.svg") no-repeat 50%/cover;
}
.aside-btn__wrapper {
  border-bottom: 0.5px solid rgba(119, 119, 119, 0.5);
}
.aside-btn_preload + .drop-wrapper {
  display: none;
}
.aside-btn_preload + .price-drop-wrapper {
  display: none;
}
.aside-btn_opened::before {
  transform: translateY(-50%) rotate(180deg);
}
.aside-btn_opened + .drop-wrapper {
  animation: slideUpAccordionDesktop 0.3s ease 1 both;
  display: block;
}
.aside-btn_opened + .price-drop-wrapper {
  animation: priceUpAccordionDesktop 0.3s ease 1 both;
}
.aside-btn_opened + .price-drop-wrapper > .price-content {
  display: flex;
}
.aside-btn_closed + .drop-wrapper {
  animation: slideDownAccordionDesktop 0.3s ease 1 both;
}
.aside-btn_closed + .price-drop-wrapper {
  animation: priceDownAccordionDesktop 0.3s ease 1 both;
}
.aside-btn_closed + .price-drop-wrapper > .price-content {
  display: flex;
}
.aside-btn_opened + .price-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.aside-list {
  padding: 0 15px;
  padding-bottom: 16px;
  position: relative;
  max-height: 170px;
  overflow-y: scroll;
}
.aside-list::-webkit-scrollbar {
  width: 4px;
}
.aside-list::-webkit-scrollbar-track {
  background: transparent;
}
.aside-list::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  width: 4px;
  border-radius: 3px;
}
.aside-list li:not(:last-child) {
  margin-bottom: 16px;
}
.aside-list__wrapper {
  padding-bottom: 23px;
  position: relative;
}
.aside-list__wrapper .bottom-blocker {
  position: absolute;
  width: calc(100% - 4px);
  height: 35px;
  bottom: 23px;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(transparent, #fff);
}
.aside-list.color .aside-list__checkbox-label input:checked + .color::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #666;
}
.aside-list__checkbox-label {
  padding: 2px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.aside-list__checkbox-label input {
  display: none;
}
.aside-list__checkbox-label input:checked + .checkbox {
  background: #666;
  border-color: #666;
}
.aside-list__checkbox-label input:checked + .checkbox::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 7px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: translateX(-50%) rotate(45deg);
}
.aside-list__checkbox-label .color {
  width: 16px;
  height: 16px;
  margin-right: 13px;
  border-radius: 50%;
  position: relative;
}
.aside-list__checkbox-label .checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  border: 0.5px solid #bbbbbb;
  border-radius: 1px;
}
.aside-list__checkbox-label span {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #666;
  padding-top: 2.5px;
  display: inline-block;
}

@keyframes slideDownAccordionDesktop {
  0% {
    max-height: 193px;
    overflow-y: hidden;
    display: block;
  }
  to {
    max-height: 0;
    display: none;
    overflow-y: hidden;
  }
}
@keyframes slideUpAccordionDesktop {
  0% {
    max-height: 0;
    display: none;
    overflow-y: hidden;
  }
  to {
    display: block;
    max-height: 193px;
    overflow-y: hidden;
  }
}
@keyframes priceDownAccordionDesktop {
  0% {
    max-height: 72px;
    overflow-y: hidden;
    display: block;
  }
  to {
    max-height: 0;
    display: none;
    overflow-y: hidden;
  }
}
@keyframes priceUpAccordionDesktop {
  0% {
    max-height: 0;
    display: none;
    overflow-y: hidden;
  }
  to {
    display: block;
    max-height: 72px;
    overflow-y: hidden;
  }
}
.catalog-footer {
  border-top: 0.5px solid rgba(112, 112, 112, 0.5);
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-footer__corner:hover {
  opacity: 0.8;
}
.catalog-footer__corner:first-child {
  margin-right: 15px;
  width: 25px;
  height: 24px;
  text-align: left;
  display: flex;
  align-items: center;
}
.catalog-footer__corner:last-child {
  margin-left: 15px;
  width: 25px;
  height: 24px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.catalog-footer__corner:disabled {
  pointer-events: none;
  opacity: 1;
}
.catalog-footer__corner:disabled svg path, .catalog-footer__corner:disabled svg line {
  stroke: #aaa;
}
.catalog-footer__prev {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: 0.015em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-footer__prev:hover {
  opacity: 0.8;
}
.catalog-footer__prev svg {
  margin-right: 14px;
}
.catalog-footer__prev:disabled {
  pointer-events: none;
  opacity: 1;
  color: #aaa;
}
.catalog-footer__prev:disabled svg path {
  stroke: #aaa;
}
.catalog-footer__next {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  letter-spacing: 0.015em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-footer__next:hover {
  opacity: 0.8;
}
.catalog-footer__next svg {
  margin-left: 14px;
}
.catalog-footer__next:disabled {
  pointer-events: none;
  color: #aaa;
}
.catalog-footer__next:disabled svg path {
  stroke: #aaa;
}
.catalog-footer-pages {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-footer-pages .page-btn {
  width: 32px;
  height: 34px;
  border-radius: 1px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  line-height: 1.2;
}
.catalog-footer-pages .page-btn:hover {
  opacity: 0.8;
}
.catalog-footer-pages .page-btn_active {
  border: 0.5px solid #777;
}
.catalog-footer-pages .page-btn_active:hover {
  opacity: 1;
}
.catalog-footer-pages .page-btn span {
  transform: translateY(2px);
}
.catalog-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  grid-column-gap: 30px;
  grid-row-gap: 58px;
  margin-bottom: 37px;
}
.catalog-swiper .swiper-pagination {
  padding: 0 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  bottom: 12px;
}
.catalog-swiper .swiper-pagination-bullet {
  width: auto;
  flex-grow: 1;
  height: 2px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
}
.catalog-swiper .swiper-pagination-bullet-active {
  background: #fff;
}
.catalog-article {
  cursor: pointer;
  max-width: calc((100% - 30px - 30px) / 3);
}
.catalog-article:hover .like-btn {
  display: inline-block;
}
.catalog-article__link {
  display: block;
  cursor: pointer;
}
.catalog-article__link:hover p, .catalog-article__link:hover .catalog-article__price {
  opacity: 0.75;
}
.catalog-article__img {
  height: 485px;
  position: relative;
  margin-bottom: 24px;
}
.catalog-article__img .swiper {
  max-width: 100%;
}
.catalog-article__img img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.catalog-article__img .new-item {
  position: absolute;
  bottom: 8px;
  left: 12px;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #fff;
}
.catalog-article__img .like-btn {
  z-index: 2;
  display: none;
  position: absolute;
  top: 15px;
  right: 14px;
}
.catalog-article__price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-article__price span {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: #333;
  font-weight: 600;
}
.catalog-article__colors {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.catalog-article__colors i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.catalog-article__colors i:last-child {
  margin-right: 0;
}
.catalog-article p {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #333;
  letter-spacing: 0.015em;
  margin-bottom: 8px;
}

.dropdowns-block__drop {
  margin-bottom: 10px;
}
.dropdowns-block__drop:last-child {
  margin-bottom: 0;
}
.dropdowns-block__drop-content {
  margin-top: 6px;
  display: none;
}
.dropdowns-block__drop-content p {
  font-size: 1.4rem;
  line-height: 1.2857142857;
  margin-bottom: 8px;
  color: #555;
}
.dropdowns-block__drop-content p:last-child {
  margin-bottom: 0;
}
.dropdowns-block__drop-btn {
  color: #333;
  padding-left: 22px;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0;
}
.dropdowns-block__drop-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 6px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop-semibold.svg") no-repeat 50%/cover;
  transform: translateY(calc(-50% - 1px));
}
.dropdowns-block__drop-btn_opened::before {
  transform: translateY(calc(-50% - 1px)) rotate(180deg);
}
.dropdowns-block__drop-btn_opened + .dropdowns-block__drop-content {
  display: block;
}

.recommendations-swiper {
  position: relative;
}
.recommendations-swiper .swiper-slide {
  max-width: 280px;
  position: relative;
}
.recommendations-swiper__prev {
  position: absolute;
  z-index: 2;
  top: 191px;
  left: 0;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  background: #fff;
  transition: opacity 0.2s;
  transform: rotate(180deg);
  opacity: 0.8;
}
.recommendations-swiper__prev:hover {
  opacity: 1;
}
.recommendations-swiper__prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.recommendations-swiper__next {
  position: absolute;
  z-index: 2;
  top: 191px;
  right: 0;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  background: #fff;
  transition: opacity 0.2s;
  opacity: 0.8;
}
.recommendations-swiper__next:hover {
  opacity: 1;
}
.recommendations-swiper__next.swiper-button-disabled {
  opacity: 0;
}

.order-details__title {
  margin-bottom: 18px;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  letter-spacing: 0.015em;
  font-weight: 600;
}
.order-list {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.3);
}
.order-list__item {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 3.56fr 1.54fr 1.06fr 1.63fr 90px 18px;
}
.order-list__item:last-child {
  margin-bottom: 0;
}
.order-list__product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.order-list__product:hover {
  opacity: 0.75;
}
.order-list__product-img {
  flex-shrink: 0;
  margin-right: 40px;
}
.order-list__product-info {
  padding-right: 30px;
}
.order-list__product-info p {
  color: #222;
  font-size: 1.4rem;
  line-height: 1.2857142857;
  margin-bottom: 4px;
  letter-spacing: 0;
}
.order-list__product-info span {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #999;
  letter-spacing: 0.015em;
}
.order-list__product-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.order-list__product-color .color-btn {
  margin-right: 7px;
}
.order-list__product-color p {
  font-size: 1.2rem;
  line-height: 1;
  color: #888;
  letter-spacing: 0.015em;
  transform: translateY(2px);
}
.order-list__product-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.order-list__product-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
.order-list__product-count .count-input__wrapper {
  max-width: 80px;
}
.order-list__product-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.order-list__product-price span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
}
.order-list__product-remove {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
.order-list__product-remove .remove {
  position: relative;
  width: 12px;
  height: 12px;
}
.order-list__product-remove .remove span {
  width: 16px;
  height: 1px;
  background: #d6d6d6;
  position: absolute;
  top: 50%;
  left: 50%;
}
.order-list__product-remove .remove span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
.order-list__product-remove .remove span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.order-list__product-remove .remove:hover span {
  background: #666;
}
.order-list__size-drop {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(119, 119, 119, 0.3);
  min-height: 34px;
  min-width: 66px;
  display: grid;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1;
  color: #666;
  padding: 0.7857142857em 0.6428571429em 0.5714285714em;
  position: relative;
}
.order-list__size-drop::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  width: 12px;
  height: 6px;
  transform: translateY(-50%);
  background: url("../assets/icons/drop.svg") no-repeat center/cover;
  transform: translateY(calc(-50% + 1px));
}
.order-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  padding-top: 45px;
}
.order-form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 350px;
}
.order-form-row__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  margin-bottom: 14px;
}
.order-form-row__header .link-underline {
  font-size: 1.4rem;
  line-height: 1;
  color: #666;
}
.order-form-row__title {
  font-size: 1.8rem;
  line-height: 1.3333333333;
  letter-spacing: 0.015em;
  font-weight: 600;
}
.order-form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 18px;
}
.order-form__label:last-child {
  margin-bottom: 0;
}
.order-form__label span {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 1.6rem;
  line-height: 1;
  color: #333;
  letter-spacing: 0.015em;
}
.order-form__divide {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.order-form__divide label {
  margin: 0;
}
.order-form__divide:not(:last-child) {
  margin-bottom: 18px;
}
.order-delivery {
  padding-top: 12px;
}
.order-delivery__block {
  margin-bottom: 32px;
}
.order-delivery__block.payment .method {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.015em;
}
.order-delivery__label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  cursor: pointer;
}
.order-delivery__label:last-child {
  margin-bottom: 0;
}
.order-delivery__label input[type=radio] {
  display: none;
}
.order-delivery__label input[type=radio]:checked + .radio {
  position: relative;
}
.order-delivery__label input[type=radio]:checked + .radio::before {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #666;
  border-radius: 50%;
}
.order-delivery__info {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.order-delivery__info .method {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: #333;
}
.order-delivery__info .method:not(:last-child) {
  margin-bottom: 2px;
}
.order-delivery__info .subtext {
  font-size: 1.2rem;
  line-height: 1.3333333333;
  color: #777;
  letter-spacing: 0.015em;
}
.order-delivery__info .subtext:not(:last-child) {
  margin-bottom: 2px;
}
.order-delivery__info .price {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #333;
}
.order-delivery__info .price:not(:last-child) {
  margin-bottom: 2px;
}
.order-delivery__info .link-underline {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.1428571429;
  letter-spacing: 0.015em;
  color: #333;
}
.order-delivery__info .link-underline:not(:last-child) {
  margin-bottom: 2px;
}
.order-delivery__price {
  width: 100%;
  margin-bottom: 24px;
}
.order-delivery__price-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.order-delivery__price-row:not(:last-child) {
  margin-bottom: 6px;
}
.order-delivery__price-row[data-price=delivery] p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: #666;
}
.order-delivery__price-row[data-price=delivery] span {
  font-size: 1.8rem;
  line-height: 1.3333333333;
  letter-spacing: 0;
  color: #666;
}
.order-delivery__price-row[data-price=final] p {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.015em;
  font-weight: 600;
  color: #333;
}
.order-delivery__price-row[data-price=final] span {
  font-size: 1.8rem;
  line-height: 1.3333333333;
  letter-spacing: 0;
  color: #333;
  font-weight: 600;
}
.order-delivery__submit .btn-primary {
  width: 100%;
  margin-bottom: 20px;
  padding: 1.15em 1em 1.05em;
}

.promocode {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 35px;
}
.promocode-btn {
  margin-left: 16px;
  padding: 0.6em 11px 0.48em;
  font-size: 1.6rem;
  line-height: 1.375;
  border: 1.5px solid #333;
  border-radius: 2px;
}
.promocode-btn:hover {
  background: #333;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
