.cart {
	&-page {
		&__wrapper {
			padding-bottom: 94px;
			max-width: 1145px;
			display: grid;
			grid-template-columns: 2.55fr 8.9fr;
		}
		&__title {
			padding-right: 40px;
		}
	}
	&-content {
		padding-top: 16px;
	}
}
