.cart {
	&-page {
		&__wrapper {
			padding-bottom: 94px;
			max-width: 1145px;
			display: grid;
			grid-template-columns: 2.55fr 8.9fr;
		}
		&__title {
			padding-right: 40px;
		}
	}
	&-content {
		padding-top: 16px;
	}
}

@media screen and (max-width: 991px) {
	.cart {
		&-content {
			padding-top: 10px;
		}
		&-page {
			&__wrapper {
				padding-top: 17px;
				grid-template-columns: 100%;
				padding-bottom: 50px;
			}
		}
	}
}
