.catalog-section {
	&-wrapper {
		padding-top: 171px;
		overflow: hidden;
		padding-bottom: 151px;
		position: relative;
		& .catalog-mobile-breadcrumbs {
			display: none;
		}
		& .catalog-mobile-title {
			margin-bottom: 20px;
			display: none;
		}
		& .blur {
			top: 493px;
			left: 50%;
			transform: translateX(calc(-50% - 488px)) rotate(34deg);
			filter: blur(150px);
		}
	}
	&-content {
		display: grid;
		grid-template-columns: 2.7fr 8.71fr;
		grid-gap: 30px;
	}
}

@media screen and(max-width: 991px) {
	.catalog-section {
		&-wrapper {
			padding-top: 125px;
			padding-bottom: 90px;
			& .catalog-mobile-breadcrumbs {
				display: flex;
			}
			& .catalog-mobile-title {
				display: block;
			}
			& .blur {
				top: 560px;
				transform: translateX(calc(-50% + 78px)) rotate(144deg);
				filter: blur(100px);
				& svg {
					max-width: 564px;
				}
			}
		}
		&-content {
			grid-template-columns: 100%;
			grid-gap: 50px;
		}
	}
}
