.catalog {
	&-page {
		padding-bottom: 55px;
		&__wrapper {
			display: grid;
			grid-template-columns: 250px 1fr;
			grid-gap: 130px;
		}
	}
	&-swiper {
		height: 100%;
		position: relative;
		& .swiper-slide {
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		& .tabs-wrapper {
			@include flex();
			position: absolute;
			width: 100%;
			height: 100%;
		}
		& .tab {
			// pointer-events: none;
			height: 100%;
			flex: 1;
			flex-grow: 1;
			z-index: 2;
		}
	}
	&-aside {
		&__title {
			@include font(2.6rem, calc(32 / 26));
			letter-spacing: 0.05em;
			color: $dark-200;
			padding-bottom: 14px;
			border-bottom: 0.5px solid rgba($dark-700, 0.5);
		}
		&-list {
			padding: 30px 0;
			border-bottom: 0.5px solid rgba($dark-700, 0.5);
			&__item {
				margin-bottom: 12px;
				&_active a {
					font-weight: 600;
				}
				& a {
					@include font(1.8rem, calc(26 / 18));
					color: $dark-300;
					letter-spacing: 0.03em;
					&:hover {
						opacity: 0.8;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__m-btn {
			width: 30px;
			height: 18px;
			display: none;
		}
	}
}

@media screen and (max-width: 1400px) {
	.catalog {
		&-page {
			&__wrapper {
				grid-gap: 60px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.catalog {
		&-page {
			&__wrapper {
				@include flex(row, stretch, space-between);
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.catalog {
		&-page {
			&__wrapper {
				padding-top: 17px;
				display: grid;
				grid-template-columns: 100%;
				grid-gap: 24px;
			}
		}
		&-aside {
			@include flex(row, center, space-between);
			&__m-btn {
				display: grid;
				place-items: center;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.catalog {
		&-page {
			padding-bottom: 25px;
		}
	}
}
