.home {
	& .works {
		background: transparent;
		&-wrapper {
			padding-bottom: 0;
		}
		& .title,
		& .link,
		& p {
			color: $black-900;
			&::before {
				background: $black-900;
			}
		}
		&-additionals {
			&__control {
				& svg path {
					stroke: $black-900;
				}
			}
		}
		&-item {
			&:hover {
				& .works-item-info {
					border-color: $black-900;
				}
			}
			&-info {
				&::after {
					background: icon('arrow-right.svg') no-repeat 50% / cover;
				}
				border-color: rgba($black-900, 0.2);
				& p {
					color: #2e2e2eb2;
				}
			}
		}
	}
}
