.product {
	&-container {
		&__wrapper {
			display: grid;
			grid-template-columns: calc(50% - 10px) calc(50% - 10px);
			grid-gap: 20px;
			padding-bottom: 100px;
		}
	}
	&-swiper {
		max-width: 455px;
		max-height: 690px;
		position: relative;
		margin: 0;
		&__wrapper {
			@include flex(row, stretch, center);
		}
		&__prev {
			position: absolute;
			width: 32px;
			height: 32px;
			z-index: 2;
			background: $white;
			border-radius: 50%;
			display: grid;
			place-items: center;
			top: 50%;
			left: 13px;
			transform: translateY(-50%);
			transition: opacity 0.2s;
			& svg {
				transform: translateX(-1px);
			}
			&.swiper-button-disabled {
				opacity: 0;
				pointer-events: none;
			}
		}
		&__next {
			position: absolute;
			width: 32px;
			height: 32px;
			z-index: 2;
			background: $white;
			border-radius: 50%;
			display: grid;
			place-items: center;
			top: 50%;
			right: 13px;
			transform: translateY(-50%);
			transition: opacity 0.2s;
			& svg {
				transform: translateX(1px);
			}
			&.swiper-button-disabled {
				opacity: 0;
				pointer-events: none;
			}
		}
		&-thumbs {
			margin: 0;
			margin-right: 19px;
			max-width: 70px;
			box-sizing: content-box;
			@include flex(column, center, center);
			max-height: 690px;
			overflow-y: auto;
			padding: 4px;
			&__slide {
				position: relative;
				cursor: pointer;
				display: flex;
				& img {
					border-radius: 2px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				&_active::before {
					position: absolute;
					content: '';
					width: calc(100% + 6px);
					height: calc(100% + 6px);
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					border: 1px solid $dark-600;
					border-radius: 2px;
				}
				& .play-btn {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: grid;
					place-items: center;
				}
			}
		}
	}
	&-slide {
		width: 100%;
		height: 100%;
		position: relative;
		display: grid;
		place-items: center;
		& video,
		& img {
			border-radius: 2px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		& .play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: grid;
			place-items: center;
			border-radius: 2px;
			z-index: 2;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.2s;
			& svg {
				width: inherit;
				height: inherit;
				width: 40px;
				height: 40px;
			}
			& svg[data-play='pause'] {
				display: none;
			}
			&.paused {
				& svg[data-play='pause'] {
					display: block;
				}
				& svg[data-play='play'] {
					display: none;
				}
			}
		}
		&:hover {
			& .play-btn {
				opacity: 1;
				&:hover {
					opacity: 0.8;
				}
				&:active {
					opacity: 0.6;
				}
			}
		}
	}
	&-content {
		max-width: 535px;
		& p {
			letter-spacing: 0.015em;
		}
		&__title {
			@include font(2.8rem, calc(36 / 28));
			letter-spacing: 0.015em;
			font-weight: 600;
		}
		&__subtitle {
			margin-bottom: 6px;
			& p {
				@include font(1.6rem, calc(24 / 16));
				letter-spacing: 0.015em;
				color: $dark-600;
			}
		}
		&__article {
			margin-bottom: 18px;
			& p {
				@include font(1.4rem, calc(24 / 14));
				letter-spacing: 0.015em;
				color: $dark-900;
			}
		}
		&__price {
			@include font(2.4rem, calc(35 / 24));
			font-weight: 600;
			letter-spacing: 0.015em;
			display: block;
			margin-bottom: 15px;
		}
		&__guide {
			display: inline-block;
			margin-bottom: 12px;
		}
		&__size {
			&-select {
				margin-bottom: 30px;
			}
		}
		&__btns {
			@include flex(row, center);
			gap: 14px;
			margin-bottom: 40px;
			& .cart-btn {
				padding: 1.375em;
				line-height: 1;
				min-width: 62.42990654%;
			}
			& .like-btn {
				padding: 0;
				display: grid;
				place-items: center;
				width: 60px;
				height: 60px;
				&:hover {
					background: transparent;
					& svg path {
						fill: $dark-300;
						stroke: $dark-300;
					}
				}
			}
		}
		&__description {
			margin-bottom: 30px;
			&-title {
				font-weight: 600;
				@include font(1.6rem, calc(22 / 16));
				margin-bottom: 11px;
				letter-spacing: 0;
			}
			&-text {
				& p {
					@include font(1.4rem, calc(20 / 14));
					color: $dark-500;
					letter-spacing: 0;
				}
			}
		}
	}
	&-colors {
		margin-bottom: 26px;
		&__wrapper {
			@include flex(row, center);
			margin-bottom: 9px;
			& .color-btn {
				border-radius: 50%;
				width: 20px;
				height: 20px;
				position: relative;
			}
		}
		&__color {
			display: inline-block;
			margin-right: 12px;
			cursor: pointer;
			& input {
				display: none;
				&:checked + .color-btn {
					&::before {
						content: '';
						position: absolute;
						width: calc(100% + 4px);
						height: calc(100% + 4px);
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						border: 1px solid $dark-600;
					}
				}
			}
			&-value {
				& p {
					@include font(1.4rem, calc(24 / 14));
					letter-spacing: 0.015em;
					color: $dark-800;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-recommendations {
		padding-bottom: 85px;
		&__link {
			display: inline-block;
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 0.6;
			}
		}
		&__title {
			margin-bottom: 33px;
		}
		&__slide {
			max-width: 100%;
			max-height: 426px;
			margin-bottom: 20px;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 2px;
			}
		}
		&__product {
			margin-bottom: 10px;
			& p {
				@include font(1.6rem, calc(20 / 16));
				letter-spacing: 0;
				color: $dark-200;
			}
		}
		&__price {
			@include font(2rem, 1);
			letter-spacing: 0.02em;
			font-weight: 600;
			color: $dark-200;
		}
	}
}
