.services {
	overflow: hidden;
	&-mobile-breadcrumbs {
		margin-bottom: 20px;
	}
	&-mobile-content {
		@include flex(row, center, space-between);
		grid-gap: 20px;
		& a {
			color: $black-900;
			font-weight: 600;
			@include font(1.4rem, calc(18 / 14));
			&::before {
				bottom: 1px;
			}
		}
	}
	&-section {
		position: relative;
		padding-top: 171px;
		padding-bottom: 150px;
		& .blur {
			top: 236px;
			left: -158px;
			transform: rotate(51deg);
			filter: blur(250px);
		}
		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 40px 30px;
			align-items: stretch;
		}
	}
	&-questions.questions {
		overflow: visible;
		border-top: 1px solid $border-dark-color;
		& .blur {
			left: auto;
			top: -181px;
			right: -155px;
			transform: rotate(-37deg);
			filter: blur(180px);
			& svg {
				max-width: 615px;
			}
		}
	}
	&-header {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1220px) {
	.services {
		&-section {
			&__list {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.services {
		&-section {
			padding-top: 125px;
			padding-bottom: 0;
			&__list {
				grid-gap: 30px;
			}
			& .blur {
				top: 120px;
				left: 50%;
				transform: translateX(calc(-50% - 56px)) rotate(144deg);
				filter: blur(100px);
				& svg {
					max-width: 546px;
					max-height: 266px;
				}
			}
		}
		&-questions.questions {
			border: none;
			& .blur {
				top: -167px;
				right: 50%;
				transform: translateX(calc(50% + 176px)) rotate(144deg);
				filter: blur(100px);
				& svg {
					max-width: 542px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.services {
		&-section {
			&__list {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.services {
		&-section {
			&__list {
				grid-template-columns: 100%;
			}
		}
	}
}
