.text {
	&-page {
		&__wrapper {
			padding-bottom: 75px;
			max-width: 1030px;
			display: grid;
			grid-template-columns: 2.55fr 7.75fr;
		}
		&__content {
			padding-top: 12px;
		}
	}
	&-block {
		&:not(:last-child) {
			margin-bottom: 58px;
		}
		&__title {
			font-weight: 600;
			@include font(2rem, calc(24 / 20));
			letter-spacing: 0.015em;
			margin-bottom: 24px;
			color: $dark-300;
		}
		&__text {
			&_big {
				&:not(:last-child) {
					margin-bottom: 54px;
				}
			}
			&_small {
				max-width: 725px;
				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
		}
		&__list {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
			&-item {
				position: relative;
				padding-left: 20px;
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 6px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: #d6d6d6;
				}
				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
		}
		& p {
			@include font(1.6rem, calc(24 / 16));
			margin-bottom: 5px;
			letter-spacing: 0.015em;
			color: $dark-500;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& strong {
			font-weight: 600;
			letter-spacing: inherit;
			color: inherit;
		}
	}
}

@media screen and (max-width: 991px) {
	.text {
		&-page {
			&__wrapper {
				grid-template-columns: 100%;
				padding-top: 18px;
				padding-bottom: 50px;
			}
		}
		&-block {
			&__title {
				margin-bottom: 16px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.text {
		&-page {
			&__content {
				padding-top: 16px;
			}
		}
		&-block {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
			&__title {
				@include font(1.6rem, calc(24 / 16));
				letter-spacing: 0.015em;
				margin-bottom: 18px;
			}
			&__text {
				&_big {
					&:not(:last-child) {
						margin-bottom: 48px;
					}
				}
				&_small {
					max-width: 725px;
					&:not(:last-child) {
						margin-bottom: 22px;
					}
				}
			}
			&__list {
				&-item:not(:last-child) {
					margin-bottom: 20px;
					&::before {
						top: 5px;
					}
				}
			}
			& p {
				@include font(1.4rem, calc(20 / 14));
			}
			& strong {
				@include font(1.4rem, calc(22 / 14));
			}
		}
	}
}
