.footer {
	background: $light-700;
	padding: 69px 0 53px;
	& a:hover {
		opacity: 0.8;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: 3.62fr 5.88fr 4.5fr;
		grid-row-gap: 80px;
	}
	&-help {
		&__support,
		&__testimonials {
			@include flex(column);
		}
		&__support {
			margin-bottom: 30px;
			& a {
				color: $dark-300;
				@include font(2.5rem, calc(30 / 25));
				letter-spacing: 0.02em;
				font-weight: 600;
			}
			& span {
				letter-spacing: 0.02em;
				@include font(1.4rem, calc(23 / 14));
			}
		}
		&__testimonials {
			& a {
				font-weight: 600;
				color: $dark-300;
				@include font(1.6rem, calc(23 / 16));
				letter-spacing: 0.02em;
			}
			& span {
				letter-spacing: 0.02em;
				@include font(1.4rem, calc(23 / 14));
			}
		}
	}
	&-list {
		& .title {
			margin-bottom: 20px;
		}
		&__item {
			margin-bottom: 16px;
			& a {
				letter-spacing: 0.015em;
				color: $dark-500;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&-nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	&-news {
		& .title {
			margin-bottom: 20px;
			letter-spacing: 0.015em;
		}
		& p {
			@include font(1.4rem, calc(17 / 14));
			color: $dark-700;
			max-width: 310px;
			margin-bottom: 17px;
		}
	}
	&-form {
		@include flex(row, center);
		margin-bottom: 56px;
		& .input {
			margin: 0;
			flex-grow: 1;
		}
		& .btn {
			margin-left: 18px;
			& .mobile {
				display: none;
			}
		}
	}
	&-span {
		color: $dark-600;
		@include font(1.4rem, calc(17 / 14));
	}
	&-privacy {
		@include flex(row, center);
		gap: 34px;
		& a {
			color: $dark-600;
			@include font(1.4rem, calc(17 / 14));
		}
	}
	&-mark {
		color: $dark-600;
		@include font(1.4rem, calc(17 / 14));
		text-align: right;
	}
	&-social {
		& .title {
			margin-bottom: 19px;
			letter-spacing: 0.015em;
		}
		&-block {
			@include flex(row, center);
			gap: 32px;
			&_mobile {
				display: none;
			}
			&__item {
				color: $dark-500;
				@include flex(row, center);
				& span {
					display: inline-block;
					margin-left: 10px;
					letter-spacing: 0.015em;
				}
				&:hover {
					opacity: 0.8;
					& span {
						color: $dark-600;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.footer {
		padding: 51px 0 30px;
		&-wrapper {
			grid-template-columns: calc(50% - 10px) calc(50% - 10px);
			grid-column-gap: 20px;
			grid-row-gap: 22px;
		}
		&-nav {
			grid-column: 1 / 3;
			order: -1;
			padding-bottom: 20px;
		}
		&-social {
			display: none;
			&-block {
				&_mobile {
					display: block;
				}
				&__item {
					display: grid;
					grid-template-columns: 35px auto;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&-form {
			margin: 0;
		}
		&-news {
			grid-column: 1 / 3;
			padding-top: 20px;
			& .title {
				margin-bottom: 8px;
			}
		}
		&-span {
			order: 1;
		}
		&-mark {
			order: 2;
		}
		&-privacy {
			grid-column: 1 / 3;
		}
	}
}

@media screen and (max-width: 768px) {
	.footer {
		&-list {
			& .title {
				@include font(1.4rem, calc(20 / 14));
				margin-bottom: 14px;
			}
			&__item {
				margin-bottom: 12px;
				&:last-child {
					margin-bottom: 0;
				}
				& a {
					@include font(1.4rem, calc(20 / 14));
				}
			}
		}
		&-help {
			&__support {
				margin-bottom: 12px;
				& span {
					letter-spacing: 0.02em;
					@include font(1.2rem, calc(22 / 12));
				}
				& a {
					@include font(2rem, calc(24 / 20));
					letter-spacing: 0.02em;
				}
			}
			&__testimonial {
				& span {
					letter-spacing: 0.02em;
					@include font(1.2rem, calc(22 / 12));
				}
				& a {
					@include font(1.6rem, calc(22 / 16));
					letter-spacing: 0.02em;
				}
			}
		}
		&-social {
			&-block {
				& span {
					@include font(1.4rem, calc(20 / 14));
					letter-spacing: 0.015em;
				}
			}
		}
		&-news {
			& .title {
				font-size: 1.4rem;
				line-height: calc(20 / 14);
			}
			& p {
				@include font(1.2rem, calc(17 / 12));
				margin-bottom: 14px;
				max-width: 240px;
			}
		}
		&-privacy {
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 10px;
			& a {
				@include font(1.2rem, calc(17 / 12));
			}
		}
		&-span,
		&-mark {
			@include font(1.2rem, calc(17 / 12));
		}
		&-form {
			& .btn {
				margin-left: 12px;
				border: 1.5px solid $dark-600;
				border-radius: 2px;
				padding: 0.5625em 0.875em 0.4375em;
				& .mobile {
					display: inline;
				}
				& .desktop {
					display: none;
				}
			}
		}
	}
}
