.header {
	position: fixed;
	z-index: 2;
	top: 30px;
	left: 0;
	width: 100%;
	&-small {
		& .header-top {
			display: none;
		}
		& .header-wrapper {
			grid-template-rows: 1fr;
		}
		& .header__logo {
			padding: 10px 40px 15px;
		}
	}
	&-wrapper {
		display: grid;
		grid-template-columns: calc((224 / 1170) * 100%) calc((946 / 1170) * 100%);
		background: $black-900;
		border: 1px solid $border-light-color;
		border-radius: 10px;
		position: relative;
	}
	&__logo {
		padding: 26px 25px 37px 29px;
		border-right: 1px solid $border-light-color;
		grid-row: 1 / 3;
		display: grid;
		place-items: center;
		& img {
			margin: 0 auto;
		}
		& .hamburger {
			display: none;
		}
	}
	&-mobile-top {
		display: none;
	}
	&-link {
		&:hover {
			color: $green-light-900;
		}
	}
	&-top {
		@include flex(row, center, space-between);
		padding: 13px 39px 15px;
		border-bottom: 1px solid $border-light-color;
		&__el {
			display: inline-flex;
			&.tel {
				padding-left: 21px;
				position: relative;
				&::before {
					@include before(0, 14px, 14px);
					background: icon('phone.svg') no-repeat 50%;
				}
			}
			&.price {
				text-transform: none;
				padding-left: 16px;
				position: relative;
				&::before {
					@include before(0, 9px, 10px);
					top: calc(50% + 1px);
					background: icon('download.svg') no-repeat 50%;
				}
			}
			&.vk {
				text-transform: none;
				@include flex(row, center);
				color: $dark-300;
				& .social-icon {
					margin-left: 7px;
				}
			}
			&.connect {
				text-transform: none;
				@include flex(row, center);
				color: $dark-300;
				& .social-icon {
					margin-left: 5px;
					&:first-of-type {
						margin-left: 9px;
					}
					&.vk {
						display: none;
					}
				}
			}
			&.order-a-call {
				@include font(1.4rem, calc(17.5 / 14));
				font-weight: 700;
			}
			&.languages {
				& button {
					@include font(1.1rem, calc(14 / 11));
					color: $dark-500;
					margin-right: 4px;
					&:last-child {
						margin-right: 0;
					}
					&.active {
						color: $white;
					}
				}
			}
		}
	}
	&-nav {
		@include flex(row, center, space-between);
		padding: 18px 39px 24px;
		&__item {
			color: $white;
			text-transform: uppercase;
			font-weight: 500;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 1220px) {
	.header {
		&-wrapper {
			grid-template-columns: calc((200 / 1170) * 100%) 1fr;
		}
		&-top {
			padding: 13px 34px 15px;
			&__el {
				&.vk {
					display: none;
				}
				&.connect {
					& .social-icon.vk {
						display: block;
					}
				}
			}
		}
		&-nav {
			padding: 18px 34px 24px;
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		background: $black-900;
		top: 0;
		&-small {
			& .header__logo {
				padding: 10px 0 14px;
			}
		}
		&-top {
			display: none;
			&__el {
				& .social-icon {
					margin-right: 5.5px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		&-nav {
			display: none;
		}
		&__logo {
			width: 100%;
			padding: 10px 0 13px;
			border: none;
			@include flex(row, center, space-between);
			border-bottom: 1px solid $border-light-color;
			grid-row: 1 / 2;
			order: 1;
			& img {
				max-width: 138px;
			}
		}
		&-mobile-top {
			@include flex(row, center, space-between);
			order: -1;
			width: 100%;
			padding: 8px 0;
			border-bottom: 1px solid $border-light-color;
			& a {
				font-weight: 500;
			}
		}
		&-wrapper {
			border: none;
			@include flex(column);
			border-radius: 0;
		}
	}
}
