.header {
	background: $white;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	& div.gamburger span {
		background: $dark-200;
	}
	& a {
		color: $dark-200;
	}
	& .header-icons__icon svg.black {
		display: inline-block;
	}
	& .header-icons__icon svg.white {
		display: none;
	}
	& .header-logo svg path {
		fill: $dark-200;
	}
	& .header-icons__icon svg.black {
		display: inline-block;
	}
	& .header-icons__icon svg.white {
		display: none;
	}
	& .header-wrapper {
		border-bottom: 0.5px solid rgba($dark-700, 0.2);
	}
	&_fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		background: transparent;
		transition: background 0.2s;
		& div.gamburger span {
			background: $white;
		}
		& a {
			color: $white;
		}
		& .header-icons__icon svg.black {
			display: none;
		}
		& .header-icons__icon svg.white {
			display: inline-block;
		}
		& .header-logo svg path {
			fill: $white;
		}
		& .header-wrapper {
			border: none;
		}
		& .header-nav__item a,
		& .header-nav__item span {
			color: $white;
		}
		&_white {
			background: $white;
		}
		&_scrolled {
			background: $white;
			& div.gamburger span {
				background: $dark-200;
			}
			& a {
				color: $dark-200;
			}
			& .header-nav__item a,
			& .header-nav__item span {
				color: $black;
			}
			& .header-icons__icon svg.black {
				display: inline-block;
			}
			& .header-icons__icon svg.white {
				display: none;
			}
			& .header-logo svg path {
				fill: $dark-200;
			}
			& .header-wrapper {
				border-bottom: 0.5px solid rgba($dark-700, 0.2);
			}
		}
		&:hover {
			background: $white;
			& .gamburger span {
				background: $dark-200;
			}
			& a {
				color: $dark-200;
			}
			& .header-icons__icon svg.black {
				display: inline-block;
			}
			& .header-icons__icon svg.white {
				display: none;
			}
			& .header-logo svg path {
				fill: $dark-200;
			}
			& .header-nav__item a,
			& .header-nav__item span {
				color: $black;
			}
		}
	}
	&-logo {
		display: flex;
	}
	&-wrapper {
		position: relative;
		padding: 30px 0 28px;
		@include flex(row, center, space-between);
	}
	&-nav {
		@include flex(row, center);
		&__item {
			margin-right: 32px;
			&:last-child {
				margin-right: 0;
			}
			&_catalog {
				position: relative;
				@include flex(row, center, space-between);
				& .gamburger {
					position: relative;
					left: 0;
					top: 0;
					width: 28px;
					height: 18px;
					margin-right: 20px;
					transform: translateY(-1px);
					& span {
						display: inline-block;
						position: absolute;
						width: 100%;
						height: 1.5px;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						background: $white;
						will-change: transform;
						backface-visibility: hidden;
						transition: 0.225s;
					}
					& span:first-child {
						width: 50%;
						transform: translateY(calc(-50% - 8px));
					}
					& span:last-child {
						width: 50%;
						left: auto;
						right: 0;
						transform: translateY(calc(-50% + 8px));
					}
				}
				&.menu_opened {
					& .gamburger {
						& span:nth-child(2) {
							transform: scale(0);
						}
						& span:first-child {
							width: 24px;
							transform: translateY(-50%) translateX(2px) rotate(45deg);
							// transform: translateY(calc(-50% - 8px));
						}
						& span:last-child {
							width: 24px;
							transform: translateY(-50%) translateX(-2px) rotate(-45deg);
						}
					}
				}
			}
		}
	}
	&-icons {
		padding-right: 14px;
		@include flex(row, center);
		&__icon {
			width: 20px;
			height: 20px;
			position: relative;
			margin-right: 30px;
			&_mobile {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				opacity: 0.8;
			}
			&_value {
				&::after {
					position: absolute;
					content: attr(data-value);
					right: -14px;
					width: 20px;
					height: 20px;
					top: -7px;
					transform: none;
					border-radius: 50%;
					background: $dark-200;
					color: $white;
					@include font(1.2rem, calc(14 / 12));
					display: grid;
					place-items: center;
					padding-top: 2px;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		&-logo {
			justify-content: center;
			& svg {
				max-height: 27px;
				max-width: 130px;
			}
		}
		&-wrapper {
			padding: 23px 0 24px;
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
		}
		& .header-wrapper {
			// border-color: rgba($dark-700, 0.5);
		}
		&-nav {
			&__item {
				display: none;
				&_catalog {
					display: inline-block;
					margin-right: 17px;
					& span {
						display: none;
					}
					& .gamburger {
						margin: 0;
						width: 26px;
					}
				}
			}
		}
		&-icons {
			justify-content: flex-end;
			&__icon {
				margin-right: 22px;
				&:last-child {
					margin-right: 0;
				}
				&_desktop {
					display: none;
				}
				&_mobile {
					display: inline-block;
				}
			}
		}
	}
}
