.hero {
	background: $black-900;
	&-wrapper {
		padding-top: 224px;
		padding-bottom: 110px;
		@include flex(row, center, space-between);
		grid-gap: 100px;
	}
	&-content {
		max-width: calc((468 / 1172) * 100%);
		margin-right: 60px;
		&__img {
			margin-bottom: 30px;
		}
		&__note {
			margin-bottom: 59px;
			& p {
				@include font(1.8rem, calc(22.5 / 18));
				color: $white;
				margin: 0;
			}
		}
	}
	&-img {
		max-width: calc((569 / 1172) * 100%);
		@media screen and (max-width: 991px) {
			display: none;
		}
	}
	&-title {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 991px) {
	.hero {
		&-wrapper {
			padding-top: 153px;
			padding-bottom: 90px;
		}
		&-content {
			max-width: 100%;
			margin: 0;
			&__img {
				margin-bottom: 20px;
			}
			&__note {
				margin-bottom: 20px;
				& p {
					@include font(1.4rem, calc(17.5 / 14));
				}
			}
		}
		&-title {
			margin-bottom: 20px;
		}
	}
}
