.menu {
	position: absolute;
	z-index: 100;
	width: 100vw;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: $white;
	transition: opacity 0.3s;
	pointer-events: none;
	opacity: 0;
	&_opened {
		opacity: 1;
		pointer-events: auto;
	}
	&-drop,
	&-login {
		display: none;
	}
	&-content {
		border-top: 0.5px solid rgba(119, 119, 119, 0.2);
		position: relative;
		display: grid;
		grid-template-columns: calc(50% - 20px) calc(50% - 20px);
		grid-gap: 40px;
		padding-top: 38px;
		padding-bottom: 50px;
		& .close-btn {
			display: none;
		}
		&__wrapper {
			display: grid;
			grid-template-columns: 2.15fr 2.6fr 2.05fr;
			grid-gap: 20px;
			& a:hover {
				opacity: 0.8;
			}
			& a:active {
				opacity: 0.6;
			}
		}
	}
	&-list {
		&__item {
			& a {
				color: $dark-300;
				letter-spacing: 0.03em;
			}
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
			&_active a {
				font-weight: 600;
			}
		}
		&__link {
			@include font(1.6rem, calc(24 / 16));
			color: $dark-300;
			letter-spacing: 0.03em;
		}
	}
	&-contacts {
		& .title {
			margin-bottom: 10px;
			font-weight: 400;
			letter-spacing: 0.03em;
			@include font(1.6rem, calc(24 / 16));
		}
		&__block {
			@include flex(column);
			& span {
				letter-spacing: 0.02em;
				font-size: 1.4rem;
				line-height: 1.6428571429;
			}
			& a {
				color: $dark-300;
				font-size: 2.5rem;
				line-height: 1.2;
				letter-spacing: 0.02em;
				font-weight: 600;
			}
		}
	}
	&-poster {
		@include flex(row, center, flex-end);
		&__img {
			display: flex;
			margin-left: auto;
			position: relative;
			border-radius: 2px;
			overflow: hidden;
			&:hover {
				opacity: 0.85;
			}
			&:active {
				opacity: 0.75;
			}
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
				position: absolute;
				background: rgba($black, 0.1);
				pointer-events: none;
			}
			& .text-block {
				z-index: 3;
				width: 80%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, calc(-50% + 12px));
				text-align: center;
				& p {
					color: $white;
					text-transform: uppercase;
					@include font(1.6rem, calc(24 / 16));
					letter-spacing: 0.12em;
				}
			}
		}
		&__title {
			text-align: center;
			color: $white;
			text-transform: uppercase;
			@include font(3.6rem, calc(48 / 32));
			margin-bottom: 14px;
			letter-spacing: 0.1em;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				background: $white;
				width: 53px;
				height: 1px;
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.menu {
		&-content {
			&__wrapper {
				grid-template-columns: 1fr 1fr;
				grid-row-gap: 30px;
			}
			&__contacts {
				grid-column: 1 / 3;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.menu {
		height: 100vh;
		overflow-y: auto;
		top: 0;
		&-poster {
			display: none;
		}
		&-login {
			display: block;
			border-bottom: 0.5px solid rgba($dark-700, 0.2);
			&__btn {
				display: inline-block;
				position: relative;
				width: 100%;
				letter-spacing: 0.015em;
				position: relative;
				@include font(1.6rem, calc(24 / 16));
				text-align: left;
				padding: 15px 10px 13px;
				color: $dark-600;
			}
		}
		&-content {
			border: none;
			grid-template-columns: 100%;
			padding-top: 75px;
			& .close-btn {
				display: inline-block;
				position: absolute;
				width: 20px;
				height: 20px;
				top: 26px;
				left: 0;
			}
			&__wrapper {
				border-top: 0.5px solid rgba($dark-700, 0.2);
				grid-template-columns: 100%;
				grid-gap: 0;
			}
			&__contacts {
				grid-column: 1 / 2;
				padding: 0 10px;
				padding-top: 22px;
			}
			&__links {
				padding: 22px 0;
				border-bottom: 0.5px solid rgba($dark-700, 0.2);
			}
			&__about {
				& .menu-list {
					padding-bottom: 22px;
					border-bottom: 0.5px solid rgba($dark-700, 0.2);
				}
			}
		}
		&-drop {
			display: block;
			position: relative;
			width: 100%;
			letter-spacing: 0.015em;
			position: relative;
			@include font(1.6rem, calc(24 / 16));
			text-align: left;
			padding: 15px 10px 13px;
			color: $dark-600;
			&::after {
				@include after(10px, 12px, 6px);
				background: icon('drop.svg') no-repeat 50% / cover;
			}
			&_closed {
				& + .menu-list {
					animation: slideDownMenuDrop 0.32s ease 1 both;
					display: block;
				}
			}
			&_opened {
				color: $dark-300;
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
				& + .menu-list {
					animation: slideUpMenuDrop 0.32s ease 1 both;
					display: block;
				}
			}
		}
		&-list {
			&__item {
				padding: 0 10px;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-login {
			&__btn {
				color: $dark-300;
			}
		}
		&-contacts {
			& .title {
				margin-bottom: 6px;
			}
		}
	}
}

@keyframes slideDownMenuDrop {
	0% {
		max-height: 300px;
		overflow-y: auto;
		display: block;
		padding-bottom: 24px;
	}
	to {
		max-height: 0;
		display: none;
		overflow-y: hidden;
		padding-bottom: 0;
	}
}

@keyframes slideUpMenuDrop {
	0% {
		max-height: 0;
		display: none;
		overflow-y: hidden;
		padding-bottom: 0;
	}
	to {
		display: block;
		max-height: 300px;
		overflow-y: auto;
		padding-bottom: 24px;
	}
}
