.application-modal {
	max-width: 770px;
	&-wrapper {
		position: relative;
		background: $black-900;
		color: $light-100;
		border-radius: 10px;
		display: grid;
		grid-template-columns: 2.68fr 5.02fr;
	}
	&__header {
		padding: 40px 34px;
		border-bottom: 1px solid $border-light-color;
	}
	&__title {
		color: $light-100;
	}
	&__img {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-form {
		padding: 40px 34px;
		display: grid;
		grid-gap: 20px;
		&__check {
			padding-top: 10px;
			padding-bottom: 10px;
			display: block;
			& label {
				padding-left: 35px;
				position: relative;
				@include font(1.6rem, calc(24 / 16));
				font-weight: 400;
				display: block;
				& a {
					font-style: italic;
					color: $white;
					text-decoration: none;
					position: relative;
					&:hover {
						opacity: 0.7;
					}
					&::before {
						@include before(0, 100%, 1px);
						bottom: 1px;
						top: auto;
						transform: none;
						background: $white;
					}
				}
				&::before {
					@include before(0, 20px, 20px);
					top: 2px;
					transform: none;
					border: 1px solid $border-light-color;
					border-radius: 3px;
				}
			}
			& input:checked + label {
				&::before {
					background: icon('check.svg') no-repeat 50%;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.application-modal {
		&-wrapper {
			grid-template-columns: 100%;
		}
		&__header {
			padding: 30px;
			border: none;
		}
		&__title {
			@include font(2rem, calc(26 / 20));
		}
		&-form {
			padding: 30px;
			padding-top: 0;
			&__stars {
				margin-bottom: 30px;
			}
			&__submit {
				@include font(1.6rem, calc(20 / 16));
				font-weight: 700;
				padding: 16px 47px 17px;
				&-wrapper {
					text-align: center;
				}
			}
			&__check {
				padding-top: 0;
				& label {
					@include font(1.6rem, calc(19 / 16));
					& a {
						@include font(1.6rem, calc(19 / 16));
						text-decoration: underline;
						&::before {
							content: none;
						}
					}
				}
			}
		}
	}
}
