.bestsellers {
	background: $black-900;
	position: relative;
	z-index: 1;
	&-wrapper {
		padding-bottom: 150px;
	}
	&-top {
		@include flex(row, center);
		margin-bottom: 40px;
		position: relative;
	}
	&-title {
		margin-right: 34px;
	}
	&-control {
		@include flex(row, center);
		bottom: 0;
		position: relative;
		margin-right: auto;
	}
	&-prev {
		margin-right: 20px;
	}
	&-prev,
	&-next {
		position: static;
		z-index: 0;
		width: 42px;
		height: 21px;
		cursor: pointer;
		&::after {
			content: none;
		}
		&:hover svg path {
			stroke: #b7d2a2;
		}
	}
	&-item {
		text-decoration: none;
		position: relative;
		&:hover {
			& .bestsellers-item__info {
				border-color: $white;
			}
		}
		& .hit {
			top: -5px;
			left: -35px;
		}
		&__image {
			margin-bottom: 25px;
		}
		&__info {
			@include flex(row, flex-start, space-between);
			padding-bottom: 24px;
			border-bottom: 1px solid $border-light-color;
			& p {
				text-transform: uppercase;
				color: $light-100;
				font-weight: 600;
				@include font(2rem, calc(26 / 20));
				max-width: 160px;
			}
		}
		&__price {
			@include flex(column);
			& span {
				font-style: italic;
				font-weight: 700;
				text-transform: uppercase;
				color: $white;
				@include font(2rem, calc(26 / 20));
			}
			& .price-sale {
				color: $yellow-dark-300;
				font-style: italic;
			}
		}
	}
}

@media screen and(max-width: 991px) {
	.bestsellers {
		&-swiper {
			padding-top: 30px;
		}
		&-wrapper {
			padding-bottom: 90px;
		}
		&-top {
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		&-title {
			margin-right: auto;
		}
		&-control {
			margin: 0;
		}
		&-redirect {
			width: 100%;
			margin-top: 6px;
			& .link {
				@include font(1.4rem, calc(18 / 14));
				font-weight: 600;
				&::before {
					bottom: 0;
				}
			}
		}
		&-item {
			& .hit {
				top: -45px;
				left: -22px;
			}
			&__info {
				padding-bottom: 10px;
				flex-direction: column;
				& p {
					max-width: none;
					margin-bottom: 3px;
					@include font(1.4rem, calc(18 / 14));
				}
			}
			&__price {
				flex-direction: row;
				& span {
					@include font(1.2rem, calc(16 / 12));
				}
				& .price-sale {
					margin-left: 10px;
				}
			}
			&__image {
				margin-bottom: 11px;
			}
		}
	}
}
