.breadcrumbs {
	@include flex(row, center);
	color: $dark-600;
	@include font(1.4rem, calc(23 / 14));
	& a {
		color: $dark-600;
		@include font(1.4rem, calc(23 / 14));
		display: inline-block;
		position: relative;
	}
}

@media screen and (max-width: 991px) {
	.breadcrumbs {
		display: none;
	}
}
