.breadcrumbs {
	@include flex();
	margin-bottom: 20px;
	&__item {
		padding-left: 19px;
		position: relative;
		&::before {
			@include before(8px, 3px, 3px);
			background: $black-900;
			border-radius: 50%;
			transform: translateY(calc(-50% + 1px));
		}
		&:first-child {
			padding-left: 0;
			&::before {
				content: none;
			}
		}
		& span {
			@include font(1.4rem, calc(17.5 / 14));
			color: #808080;
		}
	}
	&__link {
		@include font(1.4rem, calc(17.5 / 14));
		color: $black;
		text-decoration: none;
	}
	&_light {
		& .breadcrumbs__item::before {
			background: $white;
		}
		& a {
			color: $white;
		}
		& span {
			color: rgba($white, 0.8);
		}
	}
}
