.btn {
	&-primary {
		@include font(1.6rem, calc(24 / 16));
		padding: 0.875em 3.35em 0.753em;
		display: inline-block;
		color: $white;
		background: $dark-300;
		letter-spacing: 0.05em;
		border-radius: 2px;
		text-align: center;
		&:hover {
			background: $dark-400;
		}
		&:active,
		&:focus {
			opacity: 0.7;
		}
	}
	&-transparent {
		@include font(1.6rem, calc(24 / 16));
		background: transparent;
		padding: 0.875em 2em 0.753em;
		display: inline-block;
		border: 1px solid $dark-600;
		letter-spacing: 0.1em;
		border-radius: 2px;
		&:hover {
			background: $dark-600;
			color: $white;
		}
		&:active,
		&:focus {
			opacity: 0.7;
		}
	}
	&-filter {
		&-reset {
			width: 100%;
			margin-top: 30px;
		}
	}
}

@media screen and (max-width: 991px) {
	.catalog-aside .btn {
		&-filter {
			&-reset {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.btn {
		@include font(1.4rem, 1);
		padding: 1.68em 2em 1.62em;
		letter-spacing: 0.05em;
	}
}
