.btn {
	text-align: center;
	@include font(1.6rem, calc(20 / 16));
	font-weight: 700;
	background: $light-100;
	color: $black-900;
	padding: 1.4375em 3.625em 1.5625em;
	border: 1px solid $light-100;
	border-radius: 66px;
	display: inline-block;
	text-decoration: none;
	&:hover {
		color: $white;
		background: $black-900;
		border-color: rgba($white, 0.2);
	}
	&_classic {
		display: inline-block;
		background: transparent;
		border: none;
		padding: 0;
	}
	&_black {
		color: $white;
		background: $black-900;
		border-color: rgba($white, 0.2);
		&:hover {
			background: $light-100;
			color: $black-900;
			border-color: $light-100;
		}
	}
	&_transparent {
		background: transparent;
		color: $black-900;
		border-color: rgba($black-900, 0.2);
	}
}

@media screen and (max-width: 991px) {
	.btn {
		@include font(1.4rem, calc(17.5 / 14));
		padding: 1.142857em 2.64em 1.357em;
	}
}
