.catalog-aside {
	&-list {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 1px;
	}
	&__item {
		border-bottom: 1px solid $border-dark-color;
		&:first-child {
			border-top: 1px solid $border-dark-color;
		}
		&-wrapper {
			@include flex(row, center, space-between);
			padding: 15px 0;
		}
		&-link {
			@include font(1.4rem, 1);
			font-weight: 600;
			color: $black-900;
			&::before {
				content: none;
			}
			&:hover {
				font-style: italic;
			}
		}
		&-drop {
			display: flex;
			padding-left: 5px;
			transition: transform 0.3s;
			&:hover {
				background: transparent;
				& svg path {
					stroke-opacity: 1;
				}
			}
		}
		&.active {
			& .catalog-aside__item-link {
				color: $green-dark-300;
				font-style: italic;
			}
		}
		&.opened {
			& .catalog-aside-item-list {
				display: block;
			}
			& .catalog-aside__item-drop {
				transform: rotate(180deg);
				padding-left: 0;
				padding-right: 5px;
				& svg path {
					stroke-opacity: 1;
				}
			}
		}
	}
	&-item {
		&-list {
			padding-top: 5px;
			padding-bottom: 16px;
			display: none;
		}
		&__item {
			display: flex;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			& a {
				color: $dark-600;
				text-decoration: none;
				font-weight: 500;
				@include font(1.2rem, 1);
				&:hover {
					font-style: italic;
					color: $black-900;
				}
			}
		}
	}
}
