.catalog-chapter {
	&-header {
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		background: image('catalog-section-img_01.png') no-repeat 50% / cover;
		padding: 112px 50px 40px 50px;
		display: grid;
		grid-template-columns: 50% 50%;
		margin-bottom: 30px;
		&::before {
			@include before(0, 100%, 100%);
			top: 0;
			pointer-events: none;
			transform: none;
			background: rgba($black, 0.4);
		}
		&__title {
			color: $white;
			@include font(3rem, 1);
			position: relative;
		}
		&__btn {
			@include flex(row, center, flex-end);
			position: relative;
			& button {
				background: transparent;
				color: $white;
				&:hover {
					background: $white;
					color: $black-900;
				}
			}
		}
	}
	&-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 30px;
		&__item {
			display: flex;
		}
	}
	&-item {
		text-decoration: none;
		position: relative;
		&:hover {
			& .catalog-chapter-item__info {
				border-color: $black-900;
			}
		}
		& .hit {
			top: -5px;
			left: -35px;
		}
		&__image {
			margin-bottom: 15px;
		}
		&__info {
			@include flex(row, flex-start, space-between);
			padding-bottom: 10px;
			border-bottom: 1px solid $border-dark-color;
			& p {
				text-transform: uppercase;
				color: $black-900;
				font-weight: 700;
				@include font(1.8rem, calc(24 / 18));
				max-width: 150px;
			}
		}
		&__price {
			@include flex(column);
			& span {
				font-style: italic;
				font-weight: 700;
				text-transform: uppercase;
				color: $black-900;
				@include font(1.8rem, calc(24 / 18));
			}
			& .price-sale {
				color: $yellow-dark-300;
				font-style: italic;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.catalog-chapter {
		&-item {
			& .hit {
				top: -45px;
				left: -22px;
			}
			&__info {
				padding-bottom: 10px;
				flex-direction: column;
				& p {
					max-width: none;
					margin-bottom: 3px;
					@include font(1.4rem, calc(18 / 14));
				}
			}
			&__price {
				flex-direction: row;
				& span {
					@include font(1.2rem, calc(16 / 12));
				}
				& .price-sale {
					margin-left: 10px;
				}
			}
			&__image {
				margin-bottom: 11px;
			}
		}
	}
}
