.container {
	margin: 0 auto;
	max-width: 1400px;
}

@media screen and (max-width: 1480px) {
	.container {
		max-width: 950px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		max-width: 720px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 528px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		max-width: calc(100% - 40px);
		width: 100%;
	}
}
