.exclusive {
	margin-bottom: 60px;
	&-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}
	&__poster {
		& img {
			border-radius: 2px;
		}
	}
	&-content {
		&__img {
			margin-bottom: 60px;
			& img {
				border-radius: 2px;
			}
		}
		&__content {
			max-width: 467px;
			& .title {
				margin-bottom: 10px;
			}
		}
		&__text {
			margin-bottom: 31px;
			color: $dark-600;
		}
	}
}
