.filter {
	&-form {
		position: relative;
		width: 100%;
		height: inherit;
		&__main {
			position: relative;
		}
		&__additional {
			background: $white;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
			transform: translateX(100%);
			pointer-events: none;
			transition: transform 0.2s;
			&.modal_active {
				pointer-events: auto;
				transform: none;
			}
		}
	}
	&-modal {
		display: none;
		max-height: 100vh;
		min-height: 85.31vh;
		position: fixed;
		z-index: 25;
		bottom: 0;
		left: 0;
		background: $white;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transform: translateY(100%);
		transition: opacity 0.2s ease, transform 0.2s ease;
		&_opened {
			opacity: 1;
			pointer-events: auto;
			transform: none;
		}
		&__header {
			@include flex(row, center);
			padding-top: 16px;
			margin-bottom: 20px;
			& .close {
				min-height: 20px;
				min-width: 20px;
				margin-left: auto;
				display: grid;
				place-items: center;
				& svg {
					width: 12px;
					height: 12px;
				}
			}
		}
		&__back {
			transform: translateY(-2px);
			@include flex(row, center);
			flex-shrink: 0;
			min-height: 60%;
			& svg {
				display: flex;
				margin-right: 12px;
			}
		}
		&__title {
			@include font(1.6rem, calc(20 / 16));
			font-weight: 600;
			color: $dark-300;
			letter-spacing: 0.015em;
		}
		&__label {
			width: 100%;
			@include flex(row, center);
			margin-bottom: 22px;
			&:last-child {
				margin-bottom: 0;
			}
			& p {
				color: $dark-600;
				letter-spacing: 0.015em;
				@include font(1.6rem, calc(20 / 16));
				transform: translateY(1px);
			}
			& .radio {
				width: 22px;
				height: 22px;
				margin-right: 9px;
			}
			& input[type='radio'] {
				display: none;
				&:checked + .radio {
					background: $dark-600;
					&::before {
						content: '';
						position: absolute;
						top: 4px;
						left: 50%;
						width: 7px;
						height: 10px;
						border-bottom: 1px solid #fff;
						border-right: 1px solid #fff;
						transform: translateX(-50%) rotate(45deg);
					}
				}
			}
		}
		&__block {
			padding-bottom: 30px;
			border-bottom: 0.5px solid rgba($dark-770, 0.5);
		}
	}
	&-additional {
		@include flex(column);
		padding: 20px 0;
		border-bottom: 0.5px solid rgba($dark-770, 0.5);
		&__btn {
			width: 100%;
			text-align: left;
			@include font(1.6rem, 1);
			color: $dark-600;
			letter-spacing: 0.015em;
			padding: 0.9375em 0;
			position: relative;
			&::after {
				@include after(0px, 14px, 7px);
				background: icon('drop-light.svg') no-repeat 50% / cover;
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
	&-btn {
		&-block {
			margin-top: 50px;
			&__show {
				width: 100%;
				@include font(1.6rem, calc(24 / 16));
				padding: 0.9375em 2em;
			}
			&__reset {
				width: 100%;
				@include font(1.6rem, calc(24 / 16));
				color: $dark-600;
				padding: 10px;
				margin-top: 10px;
				text-align: center;
				letter-spacing: 0.015em;
			}
		}
	}
	&-size {
		overflow-y: auto;
		max-height: 225px;
		&__text {
			position: relative;
			margin: 0;
			@include font(1.6rem, calc(24 / 16));
			letter-spacing: 0.015em;
			color: $dark-600;
			flex-grow: 1;
		}
		&__item {
			border-bottom: 0.5px solid rgba($dark-700, 0.2);
		}
		&__label {
			padding: 11px 0 9px;
			@include flex(row, center);
			& .color {
				width: 16px;
				height: 16px;
				border-radius: 50%;
				margin-right: 11px;
			}
			& input[type='checkbox'] {
				display: none;
				&:checked + .filter-size__text {
					&::after {
						@include after(5px, 8.5px, 12.5px);
						transform: translateY(calc(-50% - 3px)) rotate(45deg);
						border-right: 1px solid $dark-300;
						border-bottom: 1px solid $dark-300;
					}
				}
			}
		}
	}
	&-price {
		display: flex;
		& input {
			width: calc(100% - 15px);
			padding: 10px 7px 9px;
			font-size: 1.6rem;
			line-height: 1;
			border: 0.5px solid rgba(119, 119, 119, 0.2);
			border-radius: 2px;
			&::placeholder {
				@include font(1.6rem, 1);
				letter-spacing: 0.015em;
				color: #bbb;
			}
		}
		& div {
			width: 15px;
			margin: 0 7.5px;
			display: grid;
			place-items: center;
			flex-shrink: 0;
			& .divider {
				width: 100%;
				height: 0.5px;
				background: rgba($dark-770, 0.5);
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.filter {
		&-modal {
			display: flex;
		}
	}
}
