.hamburger {
	width: 48px;
	height: 25px;
	position: relative;
	& span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background: $white;
		transform: translateY(-50%);
		&:first-child {
			transform: translateY(calc(-50% - 8px));
		}
		&:last-child {
			transform: translateY(calc(-50% + 8px));
			max-width: 58.33%;
			right: 0;
			left: auto;
		}
	}
}

@media screen and (max-width: 991px) {
	.hamburger {
		display: inline-block;
	}
}
