.hit {
	position: absolute;
	transform: rotate(-25deg);
	z-index: 1;
	& > div {
		display: flex;
		position: relative;
	}
	& span {
		font-style: italic;
		font-weight: 700;
		@include font(2rem, calc(26 / 20));
		color: $light-100;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 991px) {
	.hit {
		max-width: 90px;
		& span {
			@include font(1.4rem, calc(18 / 14));
		}
	}
}
