.home-about {
	&-wrapper {
		padding-top: 145px;
		padding-bottom: 150px;
		display: grid;
		grid-template-columns: calc(((700 - 30) / 1170) * 100%) calc(470 / 1170 * 100%);
		grid-column-gap: 30px;
		grid-row-gap: 100px;
		position: relative;
		& .blur {
			position: absolute;
			left: -237px;
			bottom: 120px;
			transform: rotate(-37deg);
			filter: blur(150px);
			pointer-events: none;
		}
	}
	&__title {
		margin-bottom: 40px;
		max-width: 280px;
	}
}

@media screen and(max-width: 991px) {
	.home-about {
		&-wrapper {
			padding: 90px 0;
			grid-template-columns: 100%;
			grid-row-gap: 50px;
			& .blur {
				filter: blur(100px);
				top: auto;
				right: auto;
				bottom: -105px;
				left: 50%;
				transform: translateX(calc(-50% - 57px)) rotate(61deg);
				& svg {
					max-width: 542px;
				}
			}
		}
		&__title {
			margin-bottom: 30px;
		}
	}
}
