.input {
	position: relative;
	border-radius: 3px;
	border: 1px solid $border-light-color;
	color: $white;
	@include font(1.6rem, calc(24 / 16));
	padding: 0.75em 20px 0.8125em;
	width: 100%;
	&::placeholder {
		color: rgba($white, 0.6);
		@include font(1.6rem, calc(24 / 16));
	}
	&_hidden {
		display: none;
	}
	&_dark {
		border-color: $border-dark-color;
		color: $black-900;
		&::placeholder {
			color: $dark-590;
		}
	}
}

@media screen and (max-width: 991px) {
	.input {
		@include font(1.4rem, calc(21 / 14));
		padding: 12px 20px 15px;
	}
}
