.link {
	@include font(1.4rem, calc(17 / 14));
	text-transform: uppercase;
	transition: opacity 0.2s;
	font-weight: 600;
	letter-spacing: 0.1em;
	&:hover {
		opacity: 0.8;
	}
	&:active,
	&:focus {
		opacity: 0.6;
	}
	&-underline {
		color: $dark-300;
		text-decoration: underline;
		letter-spacing: 0.015em;
		@include font(1.6rem, calc(24 / 16));
		&:hover {
			opacity: 0.8;
			color: $dark-300;
		}
		&:active,
		&:focus {
			color: $dark-300;
			opacity: 0.6;
		}
	}
}
