.m-menu {
	position: fixed;
	z-index: 5;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	background: $black-900;
	transform: translateX(100%);
	transition: transform 0.3s;
	display: none;
	overflow-y: auto;
	&_opened {
		pointer-events: auto;
		transform: none;
	}
	&-wrapper {
		padding-top: 113px;
		position: relative;
		padding-bottom: 165px;
		overflow: hidden;
	}
	&-buttons {
		position: relative;
		padding: 1px;
		background: $border-light-color;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1px;
		&__btn {
			display: block;
			text-align: center;
			text-decoration: none;
			color: $white;
			background: $black-900;
			position: relative;
			@include font(1.4rem, calc(18 / 14));
			padding: 11px 1em 15px;
			&:hover {
				opacity: 0.8;
			}
			&.vk {
				color: $dark-300;
				& span {
					position: relative;
					padding-right: 32px;
					display: inline-block;
					&::after {
						@include after(0, 24px, 24px);
						border-radius: 50%;
						background: rgba($white, 0.1) icon('vk.svg') no-repeat 50%;
						background-position: 4px 8px;
					}
				}
			}
			&.price {
				color: $white;
				& span {
					position: relative;
					padding-left: 22px;
					display: inline-block;
					&::before {
						@include before(0, 24px, 24px);
						top: calc(50% + 1px);
						background: icon('download.svg') no-repeat 50%;
					}
				}
			}
		}
	}
	&-catalog {
		&__btn {
			display: block;
			padding: 19px 0;
			color: $white;
			@include font(1.6rem, calc(22 / 16));
			text-transform: uppercase;
			font-weight: 500;
			width: 100%;
			border-bottom: 1px solid $border-light-color;
			& span {
				position: relative;
				display: flex;
				max-width: max-content;
				padding-right: 24px;
				&::after {
					@include after(0, 14px, 7px);
					background: icon('arrow-right-white.svg') no-repeat 50% / cover;
				}
			}
			&.active {
				border-bottom: none;
				& + ul {
					display: block;
				}
				& span {
					max-width: none;
					width: 100%;
					&::after {
						width: 21px;
						height: 11px;
					}
				}
			}
		}
		&-list {
			display: none;
			& .home-catalog__item {
				border-color: $border-light-color;
				&:last-child {
					border-color: $border-light-color;
					&:hover {
						border-color: $border-light-color;
					}
				}
				&:hover {
					border-color: $border-light-color;
					& + li {
						border-color: $border-light-color;
					}
				}
			}
			& .home-catalog__round {
				background: rgba($white, 0.3);
			}
			& .link {
				padding: 14px 0 13px;
				color: $white;
				&::after {
					width: 21px;
					height: 11px;
					background: icon('arrow-right-white.svg') no-repeat 50% / cover;
				}
				& span {
					padding-right: 40px;
					max-width: 229px;
				}
			}
		}
	}
	&-list {
		&__link {
			display: block;
			padding: 19px 0;
			border-bottom: 1px solid $border-light-color;
			font-weight: 500;
			@include font(1.6rem, calc(22 / 16));
			&::before {
				content: none;
			}
		}
	}
	&-dropdown {
		border-bottom: 1px solid $border-light-color;
		&__btn {
			display: flex;
			padding: 19px 0;
			color: $white;
			font-weight: 500;
			text-transform: uppercase;
			@include font(1.6rem, calc(22 / 16));
			width: 100%;
			& span {
				position: relative;
				padding-right: 13px;
				&::after {
					@include after(0, 7px, 3.5px);
					background: icon('drop.svg') no-repeat 50% / cover;
				}
			}
			&.active {
				padding-bottom: 15px;
				& span::after {
					transform: translateY(-50%) rotate(180deg);
				}
				& + ul {
					display: block;
				}
			}
		}
		&-list {
			display: none;
			padding-bottom: 21px;
			&__item {
				display: flex;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&__link {
				@include font(1.4rem, calc(19 / 14));
				color: rgba($white, 0.8);
				text-decoration: none;
			}
		}
	}
	&__call {
		width: 164px;
		height: 164px;
		top: auto;
		left: auto;
		bottom: -80px;
		right: 0;
		background: icon('call-light-round.svg') no-repeat 50% / cover;
		animation: rotate 8s infinite linear;
		position: absolute;
	}
}

@media screen and (max-width: 991px) {
	.m-menu {
		display: block;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
