.news {
	position: relative;
	&-wrapper {
		padding-bottom: 150px;
		@include flex(row, stretch, space-between);
	}
	&-text {
		max-width: 270px;
		margin-right: auto;
		&__note {
			margin-top: 20px;
			& p {
				@include font(1.4rem, calc(21 / 14));
			}
		}
		&__link {
			display: inline-block;
			margin-top: 33px;
		}
	}
	&-content {
		max-width: calc((770 / 1170) * 100%);
		&__item {
			padding: 19px 0;
			border-top: 1px solid rgba($black-900, 0.2);
			display: grid;
			position: relative;
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
			color: $black-900;
			text-decoration: none;
			&:last-child {
				border-bottom: 1px solid rgba($black-900, 0.2);
			}
			&::after {
				@include after(0, 37px, 18px);
				top: 20px;
				transform: none;
				background: icon('arrow-right.svg') no-repeat 50% / cover;
			}
			&:hover {
				&::after {
					background: icon('arrow-right-green.svg') no-repeat 50% / cover;
				}
			}
		}
		&-info {
			@include flex(column, space-between);
			&__date {
				margin-bottom: auto;
				& p {
					@include font(1.4rem, calc(18 / 14));
					font-weight: 600;
				}
			}
			&__title {
				text-transform: none;
				@include font(1.8rem, calc(24 / 18));
				margin-bottom: 10px;
			}
			&__note {
				& p {
					@include font(1.4rem, calc(20 / 14));
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.news {
		&-wrapper {
			padding-bottom: 90px;
			flex-direction: column;
		}
		&-text {
			max-width: 320px;
			margin-bottom: 30px;
			&__link {
				margin-top: 20px;
				@include font(1.4rem, calc(18 / 14));
				&::before {
					bottom: 0;
				}
			}
		}
		&-content {
			max-width: none;
			&__item {
			}
		}
	}
}

@media screen and(max-width: 767px) {
	.news {
		&-content {
			&__item {
				grid-template-columns: 100%;
				padding-bottom: 58px;
				grid-gap: 15px;
				&::after {
					right: auto;
					left: 0;
					top: auto;
					bottom: 20px;
				}
				& img {
					width: 100%;
				}
			}
			&-info {
				&__date {
					margin-bottom: 5px;
				}
			}
		}
	}
}
