.product-deliver {
	&__link {
		color: $black-900;
		font-weight: 700;
		@include font(1.4rem, calc(18 / 14));
		&::before {
			bottom: 1px;
		}
		&-wrapper {
			grid-column: 1 / 3;
			text-align: center;
		}
	}
	&-step {
		position: relative;
		padding-bottom: 30px;
		border-bottom: 1px solid $border-dark-color;
		&::before {
			@include before(0, 35px, 35px);
			transform: none;
			top: 0;
			content: attr(data-number);
			border-radius: 50%;
			display: grid;
			place-items: center;
			font-weight: 700;
			color: $white;
			@include font(1.4rem, calc(18 / 14));
		}
		&.color-1::before {
			background: $green-600;
		}
		&.color-2::before {
			background: $green-dark-300;
		}
		&.color-3::before {
			background: $yellow-dark-300;
		}
		&.color-4::before {
			background: $brown-200;
		}
		&__title {
			text-transform: none;
			padding: 4px;
			padding-left: 59px;
			@include font(2rem, calc(26 / 20));
			font-weight: 600;
			margin-bottom: 22px;
		}
		&__content {
			& p {
				@include font(1.6rem, calc(24 / 16));
				color: $black-900;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.product-deliver {
		&-step {
			padding-bottom: 15px;
			&::before {
				width: 30px;
				height: 30px;
				@include font(1.4rem, calc(18 / 14));
			}
			&:nth-last-of-type(2) {
				padding-bottom: 0;
				border-bottom: none;
			}
			&__title {
				padding-left: 42px;
				@include font(1.6rem, calc(21 / 16));
				margin-bottom: 10px;
			}
			&__content {
				& p {
					@include font(1.4rem, calc(21 / 14));
				}
			}
		}
		&__link {
			@include font(1.4rem, calc(18 / 14));
			&-wrapper {
				margin-top: 15px;
			}
		}
	}
}
