.product-content {
	&__title {
		@include font(3rem, 1);
		margin-bottom: 15px;
	}
	&__tag {
		margin-bottom: 40px;
	}
	&__submit {
		margin-top: 50px;
		& .btn:hover {
			border: 1px solid $black-900;
		}
	}
	&__about {
		margin-bottom: 50px;
		& p {
			@include font(1.4rem, calc(21 / 14));
			font-weight: 400;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&_additional {
			display: none;
			margin-bottom: 19px;
			& p {
				@include font(1.4rem, calc(21 / 14));
				font-weight: 400;
				margin-bottom: 15px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			&.opened {
				display: block;
			}
		}
		&-more {
			@include font(1.4rem, calc(21 / 14));
			font-weight: 500;
			font-style: italic;
			text-decoration: underline;
			padding-right: 17px;
			position: relative;
			&:hover {
				opacity: 0.7;
			}
			&::after {
				@include after(0, 10px, 5px);
				top: calc(50% + 2px);
				background: icon('drop-black.svg') no-repeat 50% / cover;
			}
			&.opened {
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}
}
