.product-parameters {
	&_additional {
		display: none;
		& .product-parameters__row:first-child {
			border-top: none;
		}
		&.opened {
			display: block;
		}
	}
	&__row {
		display: grid;
		grid-template-columns: 50% 50%;
		padding: 15px 0;
		border-bottom: 1px solid $border-dark-color;
		&:first-child {
			border-top: 1px solid $border-dark-color;
		}
		& p:first-of-type {
			@include font(1.4rem, calc(21 / 14));
			color: $black-900;
			font-weight: 600;
			font-style: italic;
			margin: 0;
		}
		& p:last-of-type {
			@include font(1.4rem, calc(21 / 14));
			color: $dark-590;
			font-weight: 400;
			margin: 0;
		}
	}
	&__more {
		margin-top: 20px;
		@include font(1.4rem, calc(21 / 14));
		font-weight: 500;
		font-style: italic;
		text-decoration: underline;
		padding-right: 17px;
		position: relative;
		&:hover {
			opacity: 0.7;
		}
		&::after {
			@include after(0, 10px, 5px);
			top: calc(50% + 2px);
			background: icon('drop-black.svg') no-repeat 50% / cover;
		}
		&.opened {
			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.product-parameters {
		&__row {
			& p:first-of-type {
				@include font(1.4rem, calc(17 / 14));
			}
			& p:last-of-type {
				text-align: right;
				line-height: 1;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.product-parameters {
		&__row {
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;
			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: none;
			}
			& p:first-of-type {
				font-weight: 500;
				@include font(1.6rem, calc(19.2 / 16));
				margin: 0;
			}
			& p:last-of-type {
				font-weight: 400;
				@include font(1.6rem, calc(19.2 / 16));
				margin: 0;
			}
		}
	}
}
