.product-info {
	grid-column: 1 / 3;
	&-mobile {
		display: none;
		&__item {
			border-top: 1px solid $border-dark-color;
			&:last-child {
				border-bottom: 1px solid $border-dark-color;
			}
		}
		&__btn {
			display: block;
			padding: 15px 0;
			position: relative;
			width: 100%;
			text-align: left;
			@include font(1.8rem, calc(21.5 / 18));
			font-weight: 600;
			&::after {
				@include after(0, 6px, 12px);
				background: icon('arrow-top.svg') no-repeat 50% / cover;
				transform: translateY(-50%) rotate(180deg);
				opacity: 0.2;
				transition: all 0.3s;
			}
			&.active {
				font-style: italic;
				border-bottom: 2px solid $green-600;
				margin-bottom: 20px;
			}
			&.active::after {
				transform: translateY(-50%);
				opacity: 1;
			}
			&.active + .product-info-mobile__parameters {
				display: block;
			}
		}
		&__parameters {
			display: none;
			padding-bottom: 20px;
		}
	}
	&__header {
		display: grid;
		grid-template-columns: 207fr 271fr 218fr 329fr 145fr;
		margin-bottom: 20px;
		border-bottom: 1px solid $border-dark-color;
	}
	&__tab {
		text-align: center;
		font-weight: 400;
		@include font(1.6rem, calc(24 / 16));
		padding-bottom: 9px;
		position: relative;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
		&:hover {
			font-style: italic;
			font-weight: 600;
		}
		&.active {
			font-style: italic;
			font-weight: 600;
			&::before {
				@include before(0, 100%, 4px);
				transform: none;
				top: auto;
				bottom: -1px;
				background: $green-600;
				z-index: 1;
			}
		}
	}
	&__parameters {
		display: none;
		&.active {
			display: block;
		}
		& .product-parameters__row {
			padding: 10px 0;
			grid-template-columns: 5fr 6.7fr;
			&:first-child {
				border-top: none;
			}
		}
		& p {
			@include font(1.4rem, calc(21 / 14));
			font-weight: 400;
			color: $black-900;
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&-wrapper {
			&.product-deliver {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 30px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.product-info {
		grid-column: 1 / 2;
	}
}

@media screen and (max-width: 768px) {
	.product-info {
		display: none;
		grid-column: 1 / 2;
		&-mobile {
			display: block;
			padding-top: 50px;
			&__parameters {
				padding-bottom: 30px;
				& .product-parameters__row:last-child {
					padding-bottom: 0;
				}
				& p {
					@include font(1.4rem, calc(21 / 14));
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&__parameters {
			&-wrapper {
				&.product-deliver {
					@include flex(column);
					grid-gap: 15px;
				}
			}
		}
	}
}
