.questions {
	position: relative;
	overflow: hidden;
	& .blur {
		top: -86px;
		left: 50%;
		transform: translateX(calc(-50% - 250px)) rotate(-35deg);
	}
	&-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 130px;
	}
	&-img {
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-content {
		padding-top: 150px;
		padding-bottom: 150px;
		padding-right: calc((100vw - 1170px) / 2);
		&__title {
			margin-bottom: 10px;
			@include font(3rem, calc(39 / 30));
		}
		&__subtitle {
			margin-bottom: 40px;
			& p {
				@include font(1.6rem, calc(24 / 16));
			}
		}
	}
	&-form {
		display: grid;
		grid-template-columns: 3.18fr 3.38fr;
		grid-row-gap: 16px;
		grid-column-gap: 13px;
		&__textarea {
			grid-column: 1 / 3;
		}
		&__submit {
			&-wrapper {
				padding-top: 25px;
			}
		}
	}
}

@media screen and (max-width: 1220px) {
	.questions {
		&-img {
			max-width: 400px;
		}
		&-wrapper {
			grid-gap: 60px;
		}
		&-content {
			padding-right: calc((100vw - 950px) / 2);
		}
	}
}

@media screen and (max-width: 991px) {
	.questions {
		& .blur {
			top: -77px;
			transform: translateX(calc(-50% + 114px)) rotate(144deg);
		}
		&-img {
			display: none;
		}
		&-wrapper {
			grid-template-columns: 100%;
		}
		&-content {
			padding: 90px calc((100vw - 720px) / 2);
			&__title {
				@include font(3rem, calc(39 / 30));
				margin-bottom: 10px;
			}
			&__subtitle {
				margin-bottom: 20px;
				& p {
					@include font(1.4rem, calc(21 / 14));
				}
			}
		}
		&-form {
			grid-gap: 15px;
			&__submit {
				&-wrapper {
					padding-top: 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.questions {
		&-content {
			padding: 90px calc((100vw - 528px) / 2);
		}
		&-form {
			grid-template-columns: 100%;
			&__textarea {
				grid-column: 1 / 2;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.questions {
		&-content {
			padding: 90px 20px;
		}
	}
}
