.sort {
	@include flex(row, center);
	& span {
		display: inline-block;
		margin-right: 12px;
		@include font(1.4rem, calc(23 / 14));
		color: $dark-600;
	}
	&-select {
		flex-grow: 0;
		cursor: pointer;
		&__value {
			color: $dark-600;
			@include font(1.4rem, calc(23 / 14));
			line-height: 1;
			padding: 10px 9px 9px;
			padding-right: 30px;
			min-width: 220px;
			&::after {
				width: 9px;
				height: 5px;
			}
			& + .select-block {
				width: auto;
				min-width: calc(100% + 20px);
				& .select-list__item {
					padding: 9px 0.6875em 7px;
				}
			}
		}
	}
}
