.testimonial-success {
	max-width: 672px;
	&-wrapper {
		position: relative;
		background: $black-900;
		color: $light-100;
		border-radius: 10px;
		overflow: hidden;
		display: grid;
		grid-template-columns: 2.3fr 4.42fr;
	}
	&-content {
		padding: 40px 30px;
		@include flex(column);
		&__title {
			margin-bottom: 10px;
		}
		&__subtitle {
			margin-bottom: auto;
			@include font(1.6rem, calc(21 / 16));
		}
		&__text {
			@include font(1.6rem, calc(21 / 16));
			font-style: italic;
			font-weight: 400;
		}
	}
}

@media screen and (max-width: 991px) {
	.testimonial-success {
		&-wrapper {
			grid-template-columns: 100%;
		}
		&-content {
			padding: 30px;
			align-items: center;
			&__title {
				margin-bottom: 5px;
				@include font(2rem, calc(26 / 20));
			}
			&__subtitle {
				margin-bottom: 55px;
				& p {
					@include font(1.6rem, calc(21 / 16));
				}
			}
			&__text {
				align-self: flex-end;
				text-align: right;
			}
		}
	}
}
