.title {
	text-transform: uppercase;
	font-weight: 600;
	color: $dark-200;
	margin: 0;
	&_size {
		&-l {
			@include font(5.2rem, calc(60 / 52));
			letter-spacing: 0.1em;
		}
		&-m {
			@include font(3.2rem, calc(47 / 32));
			letter-spacing: 0.05em;
			text-transform: none;
		}
		&-s {
			@include font(1.6rem, calc(22 / 16));
			font-weight: 700;
			letter-spacing: 0.03em;
			text-transform: none;
			color: $dark-360;
		}
	}
}
