.title {
	text-transform: uppercase;
	font-weight: 600;
	color: $dark-200;
	margin: 0;
	&_size {
		&-l {
			@include font(5.2rem, calc(60 / 52));
		}
		&-m {
			@include font(3.2rem, calc(32 / 47));
		}
		&-s {
		}
	}
}
