.dropdown {
	position: relative;
	&-btn {
		color: $white;
		padding-right: 11px;
		text-transform: uppercase;
		@include font(1.6rem, calc(22 / 16));
		position: relative;
		font-weight: 500;
		&::after {
			@include after(0, 5px, 3px);
			background: icon('drop.svg') no-repeat 50%;
		}
		&:hover {
			color: $green-light-900;
			font-style: normal;
			&::after {
				background: icon('drop-green.svg') no-repeat 50%;
			}
		}
	}
	&-list {
		position: absolute;
		top: calc(100% + 31px);
		left: -18px;
		background: rgba($black-900, 0.9);
		border: 1px solid rgba($white, 0.1);
		border-radius: 5px;
		margin: 0;
		padding: 0;
		list-style: none;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s;
		&.opened {
			opacity: 1;
			pointer-events: auto;
		}
	}
	&-item {
		border-bottom: 1px solid rgba($white, 0.1);
		&:last-child {
			border-bottom: none;
		}
		& a {
			display: block;
			color: $white;
			@include font(1.4rem, calc(19 / 14));
			font-weight: 400;
			padding: 10px 20px;
			text-decoration: none;
			text-transform: none;
			white-space: nowrap;
			&:first-child {
				padding-top: 12px;
			}
			&:last-child {
				padding-bottom: 12px;
			}
			&:hover {
				color: $green-light-900;
			}
		}
	}
}
