// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
:root {
	font-size: 62.5%;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	&.is-locked {
		overflow: hidden;
		& body {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
		& .header {
			& .lang {
				&__link {
					background: $white;
				}
			}
		}
	}
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
b,
strong {
	font-weight: bold;
}
body {
	font-family: $font;
	font-weight: 400;
	color: $font-color;
	font-size: 1.6rem;
	height: 100%;
	background: $white;
	margin: 0;
}
button {
	font-family: $font;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline-style: none;
	outline-color: transparent;
	box-shadow: none;
	border-radius: 0;
	color: $font-color;
}
select {
	@extend button;
}
input {
	@extend button;
	cursor: text;
	padding: 0 15px;
}
textarea {
	@extend button;
	cursor: text;
	resize: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}
::-webkit-input-placeholder {
	font-size: 1.6rem;
	color: $font-color;
}
::-moz-placeholder {
	font-size: 1.6rem;
	color: $font-color;
	opacity: 1;
}
:-moz-placeholder {
	font-size: 1.6rem;
	color: $font-color;
	opacity: 1;
}
:-ms-input-placeholder {
	font-size: 1.6rem;
	color: $font-color;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
:focus::-ms-input-placeholder {
	color: transparent;
}
