.blur {
	pointer-events: none;
}

.price {
	&-old {
		position: relative;
		&::after {
			@include after(50%, 105%, 2px);
			transform: translateX(50%) rotate(-10deg);
			background: $yellow-dark-300;
		}
	}
}

.wrapper {
	position: relative;
}

.swiper {
	&-control {
		@include flex(row, center);
		& div {
			display: grid;
			place-items: center;
			cursor: pointer;
			&:first-child {
				margin-right: 20px;
			}
			&:hover {
				& svg path {
					stroke: #b7d2a2;
				}
			}
			& svg {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.d-lg {
		display: none !important;
	}
	.swiper {
		&-control {
			& div {
				max-width: 27px;
				&:first-child {
					margin-right: 13px;
				}
			}
		}
	}
}
