.blur {
	pointer-events: none;
	position: absolute;
	filter: blur(150px);
	@media screen and (max-width: 991px) {
		filter: blur(95px);
		& svg {
			max-width: 542px;
		}
	}
}

.price {
	&-old {
		position: relative;
		&::after {
			@include after(50%, 105%, 2px);
			transform: translateX(50%) rotate(-10deg);
			background: $yellow-dark-300;
		}
	}
}

.wrapper {
	position: relative;
	&-works-news {
		overflow: hidden;
		& .blur {
			top: 450px;
			left: 50%;
			transform: translateX(calc(-50% + 454px)) rotate(-37deg);
			filter: blur(160px);
			& svg:last-child {
				display: none;
			}
		}
	}
}

.swiper {
	&-control {
		@include flex(row, center);
		& div {
			display: grid;
			place-items: center;
			cursor: pointer;
			&:first-child {
				margin-right: 20px;
			}
			&:hover {
				& svg path {
					stroke: #b7d2a2;
				}
			}
			& svg {
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.d-lg {
		display: none !important;
	}
	.swiper {
		&-control {
			& div {
				max-width: 27px;
				&:first-child {
					margin-right: 13px;
				}
			}
		}
	}
	.wrapper {
		&-works-news {
			overflow: hidden;
			& .blur {
				& svg:first-child {
					display: none;
				}
				& svg:last-child {
					display: block;
				}
				top: 610px;
				transform: translateX(calc(-50% + 70px)) rotate(61deg);
				filter: blur(100px);
			}
		}
	}
}
