.dark-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($black, 0.22);
}

.page-header {
	&__wrapper {
		@include flex(row, center, space-between);
		padding: 36px 0 30px;
	}
}

.price-content {
	display: none;
	padding-bottom: 30px;
	& input {
		width: calc(100% - 15px);
		padding: 10px 7px 9px;
		@include font(1.6rem, 1);
		border: 0.5px solid rgba($dark-700, 0.5);
		border-radius: 2px;
		&::placeholder {
			color: $dark-800;
		}
	}
	& div {
		width: 15px;
		margin: 0 7.5px;
		display: grid;
		place-items: center;
		flex-shrink: 0;
		& .divider {
			width: 100%;
			height: 0.5px;
			background: $dark-770;
		}
	}
}

.show-more {
	text-align: center;
	margin-bottom: 57px;
	&__btn {
		max-width: 320px;
		width: 100%;
		border: 1px solid $dark-300;
		border-radius: 2px;
		color: $dark-300;
		letter-spacing: 0.05em;
	}
}

.size-select {
	@include font(1.6rem, 1);
	letter-spacing: 0.015em;
	color: $dark-800;
	min-width: 408px;
	border-radius: 2px;
	border: 1px solid rgba($dark-700, 0.2);
	text-align: left;
	padding: 1.125em 0.6875em 1em;
	position: relative;
	&::after {
		@include after(12px, 14px, 7px);
		background: icon('drop-light.svg') no-repeat 50% / cover;
	}
}

.color-btn {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	position: relative;
}
