// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardBook.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardBookItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardMediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardSemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardSemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RandomGrotesqueStandard';
	src: font('RG-StandardBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
