// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$font-color: #1e1e1e;
$black: #000;
