// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'RandomGrotesqueStandard', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$light-100: #f9f4ea;
// $light-200: #f9eeea;
$black-900: #1e1e1e;
$green-300: #27c200;
$green-600: #b5d053;
$green-light-300: #b7d2a2;
$green-dark-300: #a0ab69;
$yellow-dark-300: #ceaf27;
$green-light-900: #c6ff26;
$black: #333;
