// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$title-font: 'AbrilFatface', sans-serif;
$font: 'Poppins', Arial, sans-serif;
$font-secondary: 'Nunito', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$light-200: #fffcf8;
$light-300: #f3f2ef;
$light-400: #f2f2f2;
$light-400: #efeeec;
$light-600: #fdf6f0;
$gray-800: #828282;
$gray-700: #c7c7c7;
$purple-300: #330033;
$purple-500: #573457;
$purple-600: #664066;
$green-dark-300: #27747a;
$orange-300: #e18a54;
$blue-300: #2e5cff;
$pink-300: #e2def9;
$black: #333;
